[2020-02-04 13:47] eric-wieser commented on #1368
Let's have a go at this once #setuptools is merged

[2020-02-04 22:53] #1367 closed

[2020-02-04 23:10] eric-wieser opened #1371 "Weird dlopen errors in windows CI"
Possibly new after #1369, cc @themperek.

https://travis-ci.org/cocotb/cocotb/jobs/646176059#L657
[code]

Seems to not actually prevent anything working, so maybe we just shouldn't be doing this at all.

[2020-02-05 07:47] themperek commented on #1371
It is here:

https://github.com/cocotb/cocotb/blob/5571af7d5550dc7ca6144b3dc23df81b0b385e47/cocotb/share/lib/embed/gpi_embed.c#L115-L128

I have no idea what is this part for. We link `libpython` so what is the point here? It takes only warning and if you set `PYTHON_SO_LIB` to anything it seems to work.

[2020-02-06 08:52] Martoni commented on #1345
I asked it because it's proposed in [documentation](https://github.com/cocotb/cocotb/blob/master/documentation/source/extensions.rst#code-hosting).
But I can see there is no extensions repository at the moment.

[2020-02-06 14:05] eric-wieser opened #1372 "Add support for MSVC"
#1306 adds support for using setuptools, which knows how to invoke MSVC. However, initial experimentation revealed some follow-up work:

* Compiler flags need fixing (they are currently `-Werror` instead of `/W4` for instance)
* `.lib` files seem missing (https://travis-ci.org/themperek/cocotb/builds/646876123)
  * Can't use `dlltool`, need `lib /def:modelsim.def /out:modelsim.lib /machine:x86` et

[2020-02-06 16:19] #1299 closed

[2020-02-07 09:49] #1253 closed

[2020-02-07 09:49] #1279 closed

[2020-02-07 10:45] eric-wieser commented on #1363
Ping @chiraag on the above

[2020-02-07 16:26] ktbarrett opened #1374 "Handling of string values on GPI handles"
As discussed in #1256.

In the `simulator` module, strings are parsed using the `"s"` format, which encodes the string using UTF-8 (which is default). This means the user cannot choose a representation for strings. Another issue is that users can't send certain sequences like those containing embedded NULs.

In the aforementioned issue, it was recommended this be changed to `"y"`. But if these GPI

[2020-02-07 16:37] eric-wieser commented on #1374
I don't think there's a particularly good reason to do this. Given the only allowable values are ascii (`01xz` etc), and this is text not bytes, the current `str` is just fine.

The problem comes with true `string` types, where the encoding is unspecified, and so we should refuse the temptation to guess an encoding.

Do VPI and VHPI actually support these? Is the systemverilog string type allowed

[2020-02-07 16:46] eric-wieser commented on #1374
However, we can easily pass through the pointer and length returned by `"#y"` to `gpi_set_...`, and then construct the `std::string` before calling into the C++ish API.

[2020-02-07 19:54] chiraag commented on #1363
Sorry I got a bit busy during the week.
I tried this commit: [0627722](https://github.com/cocotb/cocotb/commit/06277225638f98fbc957f4b264645c6d4eabd7d8)

This is the output:
[code]

Everything seems to be working fine. Were you expecting more debug logging?

[2020-02-07 20:29] eric-wieser commented on #1363
Any chance you could add `print(cocotb.argv)` to your testbench code, and show me what it prints? Otherwise, looks like it's fixed.

[2020-02-07 22:01] chiraag commented on #1363
This is the print output:
[code]

Yes I am good with solution and okay to close. Any idea when the next release will out with this fix.

[2020-02-08 00:08] ktbarrett commented on #1374
Just gauging what you thought was wrong, how far you wanted to go with it, and documenting current limitations.

[2020-02-08 00:54] eric-wieser commented on #1363
Fantastic, thanks.

I don't know when a release will be out, but I'd hope the PR gets merged into master in the next week or so, and more speculatively the next release might happen in the next two or three months.

While it sounds like #1366 fixes this issue, it doesn't fix #1234 - so it would still be great if you could use your support channel to ask cadence what the mangled `-f` arguments mean

[2020-02-08 21:43] cmarqu commented on #1102
@hofstee Would you consider opening another PR that implements this information?

[2020-02-09 16:53] themperek commented on #122
I cannot reproduce this anymore. Please feel free to reopen if this still an issue.

[2020-02-09 16:53] #122 closed

[2020-02-09 16:59] themperek commented on #8
@cmarqu Can this be closed?

[2020-02-09 17:38] cmarqu commented on #8
No, there is barely anything documented in Doxygen format in the non-Python files.

[2020-02-10 18:37] ktbarrett commented on #1372
MSVC does not support C99 which is called out as our minimum supported C version. I don't know how trivial it would be to knock C support back to the C89 standard. Honestly, there does not need to be any C files in this project. Then standards are not an issue at all...

[2020-02-10 18:58] eric-wieser commented on #1372
Numpy is able to build under MSVC and uses (most of) C99 - so I don't expect an issue there.

[2020-02-12 10:14] #1363 closed

[2020-02-14 05:18] Divyanirankari opened #1384 "crv and coverage"

[2020-02-14 06:38] themperek commented on #1384
@Divyanirankari Could you explain more?

[2020-02-14 08:58] Divyanirankari commented on #1384
I have created constraint random generation and coverage for simple adder test . a and b and randomising. but how to get not repeated values. can you help me please?
https://github.com/Divyanirankari/cocotb_tests/tree/master/tests/adder_test_coverage/tests

[2020-02-14 10:36] themperek commented on #1384
You should describe the problem better and rather ask here: https://github.com/mciepluc/cocotb-coverage

[2020-02-14 11:17] Divyanirankari commented on #1384
@themperek
i used randomise function  for adder inputs a and b ,but it is generating repeated values. and i dont know how to randomise non repeated values using cocotb_coverage.crv module in https://github.com/mciepluc/cocotb-coverage.
otherwise i will ask here https://github.com/mciepluc/cocotb-coverage

[2020-02-14 11:22] Divyanirankari commented on #1384
[code]

[2020-02-14 11:54] themperek commented on #1384
It does not look related to cocotb itself. Please close the issue here and ask https://github.com/mciepluc/cocotb-coverage

[2020-02-14 13:12] #1384 closed

[2020-02-15 11:56] lavanyajagan commented on #1313
Could it be related to verilator ?
https://github.com/verilator/verilator/issues/2105

Have you tried running the same example with any other simulator ?.

[2020-02-15 14:37] eric-wieser commented on #1313
This is almost certainly a verilator issue, but my worry was that we were crashing while trying to print out a verilator error message.

[2020-02-15 20:15] gretzteam commented on #1313
I get the same error - and the same code works fine with xcelium. Must be verilator...

[2020-02-15 22:10] #1318 closed

[2020-02-15 22:15] cmarqu opened #1386 "Make documentation available as man pages"
It would be nice to ship (a part of) our documentation as man pages to be able to look things up without the need to switch to a browser.

Some info:
* http://www.sphinx-doc.org/en/master/usage/configuration.html#options-for-manual-page-output
* https://groups.google.com/forum/#!topic/sphinx-users/AT3JOKN02C8
[code]

[2020-02-16 08:54] themperek opened #1387 "Use `build_clib` instead of `build_ext` for non python extension libraries "
From https://github.com/cocotb/cocotb/pull/1306#pullrequestreview-357334578

[2020-02-16 09:27] themperek commented on #1387
See also  #955

[2020-02-16 10:55] cmarqu commented on #1345
Hi @sjalloq, I remember you also worked on SPI and mentioned you could share the code. Would you be willing to collaborate with Fabien on this extension?

[2020-02-16 11:26] sjalloq commented on #1345
I thought I already had a repository with it in but that doesn't seem to be true.  I can upload it but it's not in the best state.

I've been using it recently and trying to work out the best way of structuring the code.  What I wanted was a low level base class that could be configured for frame length, timing and mode.  My driver and monitor use this class.  But what I wanted to do in my tests w

[2020-02-16 13:14] imphil opened #1389 "Icarus: Rename VPI library from gpivpi to libvpi for consistency"
All other simulators using VPI use a library named "libvpi", for Icarus it's named gpivpi. There seems to be no technical reason for this discrepancy. Rename it for consistency.

[2020-02-16 13:23] imphil opened #1390 "Windows: Evaluate runtime dynamic linking for VPI/VHPI/FLI libraries"
To communicate with the simulator, cocotb uses the VPI/VHPI/FLI interface. This interface consists of functions which are implemented by the simulator and called by cocotb's libvpi/libvhpi/libfli.

On POSIX operating systems, these libraries contain unresolved references to functions like `vpi_*`, which are then resolved by the loader at runtime.

On Windows, unresolved references in DLLs are not

[2020-02-16 13:43] imphil opened #1391 "libvhpi: Remove compile-time dependency on IUS"
In libvhpi we have a couple compile-time dependencies on IUS. Try to remove those in favor of runtime switches.

[2020-02-16 13:44] imphil opened #1392 "[tracking] Unified VPI/VHPI/FLI library for all simulators"
**This is a tracking issue. File new issues for individual actionable work or investigation items, and link them here.**

Currently, we provide a "custom" libfli/libvpi/libvhpi for each supported simulator, even though they are almost identical (and should be, since they follow the same standard). Having only a single library for each supported interface would significantly ease the build and dist

[2020-02-16 13:46] imphil commented on #1181
I've filed https://github.com/cocotb/cocotb/issues/1392 to track the progress towards a single simulator interface library.

[2020-02-16 13:49] eric-wieser commented on #1389
I think the technical reason is that icarus comes with `libvpi.a`, and this avoids a name collision

[2020-02-16 13:52] themperek opened #1393 "Document deprecated "out of the installation directory" or/and drop support."
Drop support for deprecated "out of the installation directory", remove top-level makefiles and document the fact.
OR
Document steps need to be compatible like `pip install` and set correctly `COCOTB` environment variable.

[2020-02-16 14:49] imphil commented on #1393
I don't think we have a way to support using cocotb without some installation step any more, which isn't necessarily a bad thing.

So let's document it, e.g. like this:

To point people towards that fact, let's keep the two makefiles in `makefiles` for a release cycle longer, but remove all functionality and only let them output a error message with instructions how to install cocotb instead.

[2020-02-16 14:58] themperek commented on #1393
Settings `COCOTB:=$(shell cocotb-config --share)` and including `$COCOTB/makefiles/Makefile.sim` should wok fine.

[2020-02-16 14:59] imphil commented on #1393
How does that work without a pip install first?

[2020-02-16 15:01] imphil opened #1395 "Document run order of tests"
With #1380 merged, tests are now defined to run in the order they are listed in the source file. Document this fact somewhere in the docs, and the change in the release notes.

[2020-02-16 15:02] themperek commented on #1393
No.
But potentially this can avoid changing all Makefiles.

[2020-02-16 15:02] eric-wieser commented on #1395
I assume you meant to merge the linked issue?

[2020-02-16 18:28] cmarqu commented on #1389
``libcocotbvpi`` would align nicely with the VHPI library name that we use since #1168.

[2020-02-16 18:44] cmarqu commented on #1345
I also recently had a need (but did not implement fully) for some specialties in SPI - Quad SPI (https://en.wikipedia.org/wiki/Serial_Peripheral_Interface#Quad_SPI), CRCs (different polynomials for address and data), and fill bits. I'm not sure if a single module handling all that can be written so that it is readable code, but maybe you can keep it in mind.
It would also be nice if there was enou

[2020-02-16 18:54] cmarqu opened #1396 "Align endian_swapper VHDL version with the SV version"
``and_output`` is not in the VHDL version but the SystemVerilog version of the ``endian_swapper`` HDL.
The same is true for at least one other signal (that I need to find again).

[2020-02-16 19:07] themperek commented on #1345
One could potentially look around how UVM SPI (or similar) components look like.

[2020-02-16 21:01] imphil commented on #1345
Since this extension is in very early stages and we have two potentially competing implementations: would the two of you mind finding common ground in one of the two repositories you're currently working on, and once things have slightly stabilized, we can move over the consolidated repository over to the cocotb namespace?

Please also add a LICENSE, preferably a 2-clause BSD license for simplicit

[2020-02-16 22:31] imphil opened #1400 "Document how to get a rotating logger"
In #1224 we had the request to support a "rotating" logger in cocotb.
Now that #1266 has gone in there is a reasonably comfortable way to do that without modifying cocotb itself.

[code]
at which point this seems like something that doesn't need to be in cocotb itself.

_Originally posted by @eric-wieser in https://github.com/cocotb/cocotb/pull/1224#issuecomment-581368001_

This issue is to docume

[2020-02-17 04:53] ktbarrett opened #1402 "SimFailure causing good tests to be marked as failed"
#1382 is a stop-gap. It is actually recording tests that aren't being run that previously weren't, but there is still the issue of failing tests causing succeeding tests to fail if they cannot be tested because the simulator shut down.

Is this acceptable behavior? Does grouping tests into a single simulator run form an implicit contract that "it's okay to fail all of these tests if even one of th

[2020-02-17 08:37] Martoni commented on #1345
Hi @sjalloq

Can you post the link to your project once you uploaded it ?

I think we can found common ground yes. But I can't found @sjalloq code for the moment.

Ok I'll do that.

[2020-02-17 09:19] #1395 closed

[2020-02-17 10:08] #1150 closed

[2020-02-17 10:22] #1254 closed

[2020-02-17 10:55] themperek opened #1404 "Passing plusargs to FLI: Find code that works with different TCL versions"
There is an error on RHEL7 (gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)

Compilation error in ‘Tcl_Interp’ has no member named ‘result’

[code]

Seems to be related to https://github.com/cocotb/cocotb/pull/1256  @ktbarrett

[2020-02-17 10:57] imphil commented on #1404
Is cocotb picking up the right tcl library and header file from Questa, or is it using the system-provided one?

[2020-02-17 11:14] themperek commented on #1404
It looks as if it is ok for Questa 10.x but 2019.x fails.

[2020-02-17 11:17] imphil commented on #1404
Can you try reverting https://github.com/cocotb/cocotb/commit/b283b48368a3a7f507110c6699db3a6c7ce01677 and see if that fixes compilation? (If so, I'll back out this change until we find a solution that universally works.)

[2020-02-17 11:19] themperek opened #1405 "Compilation error in cocotb/share/lib/vhpi/VhpiImpl.h"
[code]

gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)

@eric-wieser It seems related to https://github.com/cocotb/cocotb/pull/1149 ?

[2020-02-17 11:29] themperek commented on #1404
Checked https://github.com/cocotb/cocotb/commit/b283b48368a3a7f507110c6699db3a6c7ce01677 seems to be a problem.

[2020-02-17 11:33] themperek commented on #1404
The version of tcl changed from 8.5 to 8.6

[2020-02-17 12:27] #1405 closed

[2020-02-17 12:49] imphil commented on #1404
OK, revert in #1407. @ktbarrett can you look into finding a solution which works for both simulators? Ideally, one that doesn't involve conditional compilation (see #1392).

[2020-02-17 13:15] imphil commented on #1402
While the behavior isn't great, it's not uncommon to have such behavior in testing frameworks that somewhat sacrifice test isolation (in our case, a separate simulator run per test). And after your recent fix in #1382, it's safe behavior.

So for now, I'd go with documenting this fact and live with it, until someone wants to put more work into it (e.g. by restarting simulators, or providing an opt

[2020-02-17 13:57] imphil opened #1408 "Logging non-string messages leads to AttributeError"
Test code:

[code]

This worked fine in older versions of cocotb, haven't attempted to find exact regression range yet. Now I get this trace:

[code]

I'll try to come up with a test and a fix soon-ish.

[2020-02-17 14:13] eric-wieser commented on #1408
Correct fix to me looks to be to call `str(msg)` before splitting, which is essentially what the default builtin formatter does (strictly that does `'stuff %s stuff' % msg`, but that's equivalent).

[2020-02-17 20:36] Martoni commented on #1345
License [added](https://github.com/Martoni/cocotbext-spi/commit/ac0583f7b19eaa6cac295d248433248a896c56e1)

[2020-02-17 22:38] #1408 closed

[2020-02-18 16:35] TrampHRC commented on #1004
It's been a while but I'm back at it with this issue.
The `_discover_all()` fix works for me too.
It actually searches for children using different functions than the `HierarchyObject.__getattr__` function (found in [cocotb.handle](https://cocotb.readthedocs.io/en/latest/_modules/cocotb/handle.html)). It builds a cache, which will then be used by the  `HierarchyObject.__getattr__` function, instea

[2020-02-18 16:48] eric-wieser commented on #1004
Have a look in cocotb/log.py, I think that calls a function to change the C log level, be possibly conditional on an env car.

[2020-02-18 21:18] eric-wieser opened #1419 "Simulator timestamps are broken in logs"
Looks like gh-1411 didn't work properly. I'll try and find the fix shortly, but if we want to do a release before I do we should revert it.

[2020-02-18 22:48] #1419 closed

[2020-02-18 23:01] cmarqu opened #1422 "Compile error in VhpiCbHdl.cpp: expected ‘)’ before ‘PRIu32’"
I'm getting the following error:
[code]
This came in via #1361 (https://github.com/cocotb/cocotb/pull/1361/files#diff-8baf84ef545a81134ec388a5b271c5b6R1131).

[2020-02-18 23:04] eric-wieser commented on #1422
Does adding `#include <cstdint>` fix this?

[2020-02-18 23:05] imphil commented on #1422
On which simulator?

[2020-02-18 23:14] eric-wieser commented on #1422
Moving `<cinttypes>` to be the first include may help here.

It's also possible that your compiler is broken, and does not conform with the standard. Can you give your compiler version?

[2020-02-18 23:18] cmarqu commented on #1422
This is with both gcc 9.2.0 and 4.9.3.

[2020-02-18 23:20] eric-wieser commented on #1422
Can you confirm that `--std=c++11` is being passed?

[2020-02-18 23:21] eric-wieser commented on #1422
`__STDC_FORMAT_MACROS` is relevant here, but everything I found said that it is required to be set by default in C++11 mode.

[2020-02-18 23:22] cmarqu commented on #1422
Yes, it is being passed, and also moving ``<cinttypes>`` to the top fixes it.

[2020-02-18 23:23] cmarqu commented on #1422
I could open a PR, but there should be a good comment near the include line which I cannot write.

[2020-02-19 06:49] JaewonHur commented on #1348
Is this issue resolved?

[2020-02-19 13:49] eric-wieser commented on #1422
Can you try to bisect exactly which include `<cinttypes>` needs to be before? Eg, first reorder within:
[code]
then assuming that `VhpiImpl.h` is the culprit, put `#include <cinttypes>` within the include stanzas of `VhpiImpl.h` until you find the offending header there, etc.

[2020-02-19 13:57] TrampHRC commented on #1004
I already tried setting `COCOTB_LOG_LEVEL` to `DEBUG` but it did not work. Only Python debug logs get printed, not C code logs. I even tried tweaking the gpi_logging.c file but I am no C master and it did not help.

[2020-02-19 14:04] eric-wieser commented on #1004
You could try changing these lines:
https://github.com/cocotb/cocotb/blob/1e8880ebc0a15b486d08d7e81091c4fafcfd0293/cocotb/share/lib/gpi_log/gpi_logging.c#L36

https://github.com/cocotb/cocotb/blob/1e8880ebc0a15b486d08d7e81091c4fafcfd0293/cocotb/share/lib/gpi_log/gpi_logging.c#L110

It's possible that the log you're hoping for occurs before python has read the env var.

[2020-02-19 22:58] cmarqu commented on #1422
Okay, I'm now at the point where it would need to go into ``cocotb/share/include/embed.h`` (as the 2nd include), but this is compiled as C, and so doesn't work.

[2020-02-19 23:22] cmarqu commented on #1422
This sounds relevant (I'm on Redhat 6): https://github.com/MaskRay/ccls/issues/152

[2020-02-19 23:27] cmarqu commented on #1422
Right, exporting ``CPPFLAGS "-D__STDC_FORMAT_MACROS"`` works, but I have to stop here for today.

[2020-02-20 07:05] eric-wieser opened #1428 "Put argv in `sys.argv` and not `cocotb.argv`"
Right now, we set `sys.argv == ['cocotb']`, and put the simulator argv in `cocotb.argv`.

Is there a reason we don't just put the "real" argv in `cocotb.argv`?

Some things to check:
* What does pytest do?
* What do wsgi servers (bottle, cherrypy, gunicorn) do?

If we changed this, we could just set `cocotb.argv == sys.argv`.

[2020-02-20 07:11] enes377 commented on #1392
beatiful :))

[2020-02-20 07:17] themperek commented on #1392
@imphil Not sure if this is possible. For example, VCS seems to use quite a different header file `vhpi_user.h ` (see https://github.com/cocotb/cocotb/issues/1103#issuecomment-546126426) if we ever to support VHDL.

[2020-02-20 08:10] Martoni commented on #1345
Hi @sjalloq,
Can you share your repository to compare our code please ?

Thank.

[2020-02-20 16:54] ktbarrett commented on #1428
* gunicorn passes arguments directly to the entry function, but gets these arguments from the entry point spec. https://stackoverflow.com/questions/8495367/using-additional-command-line-arguments-with-gunicorn
* pytest passes arguments directly to tests, with a bit of setup to expect certain arguments https://stackoverflow.com/questions/40880259/how-to-pass-arguments-in-pytest-by-command-line

[2020-02-20 16:57] eric-wieser commented on #1428
My question is less "how are these passed" and more "what does sys.argv contain"?

[2020-02-20 22:57] ktbarrett commented on #1428
pytest was a quick check, as expected it was the command line.

[2020-02-20 23:01] ktbarrett commented on #1428
My thoughts are that we can set `sys.argv` to the command line, which we can now do on every interface, but I don't think `cocotb.argv` must be the same as `sys.argv`. It is conceivable that C (or something else) will pass additional arguments to the entry function, so that `cocotb.argv` might contain more, or just different, args. There is no reason to keep `cocotb.argv` around if it is synonymou

[2020-02-21 02:51] JaewonHur opened #1432 "Can not get handle for some modules in hierarchy."
I'm using cocotb to test RISCV Rocket Chip, But I can not get handle for the csr instance.
The hierarchy is as follow.
[code]
like this.

When trying to get handle like
[code]
cocotb reports
[code]

but I can get handle for alu.
[code]

Does anyone know reason for why I can access some module but some I can not?

[2020-02-21 07:38] themperek commented on #1432
What simulator are you using? Did you try a different one?

Cocotb just accesses whatever is available via vpi/vhpi/fli interface.

[2020-02-21 08:47] eric-wieser commented on #1422
Put it in an `#ifdef __cplusplus` and you'll be able to continue bisecting.

[2020-02-21 10:01] JaewonHur commented on #1432
I'm using verilator.
I will reply again after trying with icarus verilog.

[2020-02-21 10:25] #657 closed

[2020-02-21 15:05] #1404 closed

[2020-02-21 21:37] toddstrader opened #1435 "Tracing back through generators in pdb"
It's more of a general Python question, but I'm guessing it's a common issue for cocotb users.
 Does anyone know of a way to use pdb to find the point at which a generator is created?  I often run into the problem where my code throws an exception and the call stack is useful until I get to this frame (I'm currently on an old version of cocotb):
[code]
The problem often stems from some data which

[2020-02-21 21:59] themperek commented on #1435
Maybe this: https://cocotb.readthedocs.io/en/latest/building.html#envvar-COCOTB_PDB_ON_EXCEPTION ?

[2020-02-21 22:02] cmarqu commented on #1422
If I include``<cinttypes>`` before ``"inttypes.h"`` in
https://github.com/cocotb/cocotb/blob/master/cocotb/share/include/vpi_user.h#L40, then it works.

[2020-02-21 22:06] toddstrader commented on #1435
That's handy, but I see where my exception is happening and can just pdb.set_trace() before that point.  My problem is that cocotb basically always leaves me running inside a generator.  And I'd like to be able to know where that generator was created.

[2020-02-21 22:18] eric-wieser commented on #1422
That was my hunch- I was trying to reproduce this on godbolt but could not.

My interpretation is that this is the problem:
[code]

which is why swapping the order matters

Perhaps for that reason we should change `vhpi.h` to
[code]
or something

[2020-02-21 22:25] eric-wieser commented on #1435
Switch to using `async def` and `await` instead of `@coroutine` and `yield`, and this debugging will become much easier.

[2020-02-21 22:41] cmarqu commented on #1422
I assume you mean ``vpi_user.h`` which is coming from the Verilog standard Annex G ("normative"), though this part is already modified so we don't have a pristine copy anyway.
Let me try that.

[2020-02-21 23:04] cmarqu opened #1437 "Document the SCRIPT_FILE make variable"
``Makefile.aldec`` and ``Makefile.questa`` allow the make variable ``SCRIPT_FILE`` to be set, but this is undocumented.

[2020-02-22 11:31] eric-wieser commented on #1428
`mod_wsgi` does the following:

https://github.com/GrahamDumpleton/mod_wsgi/blob/59f56107441f215f1af9ccc8cef82b6cd4b673d2/src/server/wsgi_interp.c#L571-L586

which is very similar to what we do today.

[2020-02-22 12:21] s3bs commented on #767
This seems a decision that might work for small projects or university use.
Years of simulation code and co simulation code in a corporate environment with lots of py27 dependencies makes it way too costly and time consuming to move forward to py3+

[2020-02-22 12:43] themperek commented on #767
@s3bs Nothing is lost. You are welcome to use version 1.3 and contribute bug fixes.

[2020-02-22 13:01] eric-wieser commented on #767
@s3bs: As maintainers, improving stability and adding new features for while supporting python27 is both time consuming and error-prone, and with limited maintainer time we can't afford to pay that forever. Choosing to stay on Python 2.7 leaves us unable to build upon the last 10(!) years of work by the python core developers.

As @themperek points out, there is nothing stopping you from using coc

[2020-02-22 14:38] JaewonHur commented on #1432
cocotb could not find handle for ``` csr ``` because, ``` csr ``` module vpi type was vpiScope.

Is there further plan to include vpiScope?
or is there any way I can bypass?

[2020-02-22 17:36] mballance opened #1443 "Passing simulator options (flags) to Icarus Verilog"
Icarus Verilog makes a strong distinction between simulator options and simulation arguments. The first come before specification of the .vvp file, the later after. The cocotb Makefiles allow adding simulation arguments via the SIM_ARGS, EXTRA_ARGS, and PLUSARGS variables. However, they do not allow adding options to vvp itself.
Would having a SIM_FLAGS variable make sense? I'm envisioning somethi

[2020-02-22 18:37] themperek commented on #1443
To me, it looks like `$(SIM_ARGS) $(EXTRA_ARGS)` should moved before `$(SIM_BUILD)/sim.vvp`  rather than adding new variables. What is the use of fo `$(SIM_ARGS)` at the current position?

[2020-02-22 18:41] mballance commented on #1443
`$(SIM_ARGS)` and `$(EXTRA_ARGS)` allow non-plusarg arguments to be passed to VVP. Not entirely sure if this is useful, since it's not generally easy to get access to non-plusargs in simulation.

I think a fine solution would be to move `$(SIM_ARGS)` and `$(EXTRA_ARGS)` ahead of the .vvp file as you suggest. This would be consistent with cocotb's support for other simulators.

Should I create a pu

[2020-02-22 18:49] themperek commented on #1443
I also think this makes much more sense and how this now looks like a mistake.

It was added here: https://github.com/cocotb/cocotb/commit/bd579dc4f62810441bf2c6e9470df4e5549d4feb

[2020-02-23 08:37] themperek commented on #1432
If you would show example Verilog code maybe someone would have an idea.

[2020-02-23 15:27] ktbarrett opened #1446 "Normalizing gpi_embed and GPI_EXTRA libraries"
This started with https://github.com/cocotb/cocotb/pull/1293#discussion_r381814190, where I considered getting rid of `embed_sim_event` from the `embed` interface and adding a `register_sim_event_callback` to the GPI.

This got me think about what else we could move from the `embed` interface to the GPI via `register_*` functions. And the answer is everything (see edit). There really only needs to

[2020-02-23 16:48] eric-wieser commented on #1446
For the sake of exposition, could you edit your comment to list explicitly all the functions that you'd be intending to replace?

[2020-02-23 17:05] themperek opened #1448 "Simple example for README.md"
We once discussed that a very simple example would be more appropriate to be in the `README.md`.

[code]

[2020-02-23 17:08] ktbarrett commented on #1446
@eric-wieser addressed

[2020-02-23 17:16] cmarqu commented on #1448
``Clock`` should use the ``units`` parameter.
And maybe the RTL should be changed anyway to not require the ``start_high=False`"`?

[2020-02-23 21:01] themperek commented on #1448
Other options:
[code]

[2020-02-23 21:16] themperek opened #1449 "Add some basic assert methods ?"
[code]

It would potentially make logging easier/better.

Based on https://docs.python.org/3/library/unittest.html#unittest.TestCase.debug

[2020-02-23 21:20] cmarqu commented on #1448
Maybe we could show a progression of the same test toward a more abstracted test. (In your example, I would also add a timeout for the ``Join``. Oh, and docstrings :)).

[2020-02-23 21:36] cmarqu commented on #1449
I had actually started writing a check library based on https://vunit.github.io/check/user_guide.html which looks well thought out, but haven't gotten very far yet.

[2020-02-23 21:39] cmarqu commented on #1432
Can you try to run cocotb's ``test_discovery`` on the design and see what shows up?

[2020-02-23 22:01] themperek commented on #1448
[code]

[2020-02-23 22:31] ktbarrett commented on #1449
I like this solution better than using `assert`, so I think it is worthwhile.

Assert functions would allow for
1. delayed error message evaluation
2. throwing the proper exception: `TestFailure`

Right now we have support for `assert` statements that requires us to add it as another exception wherever `TestFailure` is expected. I think that was worked around by making `TestFailure` inherit from `

[2020-02-23 22:41] eric-wieser commented on #1449
Some questions here:

* How hard would it be to just use the unit-test ones directly, rather than writing our own?
* Is the eventual goal to be able to use pytest natively within the tests? (xref #pytest). If so, it might be better not to build these only to have them become defunct.

Are you describing `except` statements in cocotb internals, or in actual tests?

My gut feeling is that in the lon

[2020-02-23 22:56] eric-wieser commented on #1448
Perhaps with an assert?

[code]

[2020-02-23 23:36] ktbarrett commented on #1449
`AssertionError` only currently blows up the universe if it bubbles up to the root of a forked coroutine. This was done because the legacy semantics of `fork` are that. This could probably change, we discussed this in #922, but nothing came of it.

[2020-02-24 02:49] JaewonHur commented on #1432
I tried it but I don't know whether it finds the
 ```csr``` instance.

Here's my result and test verilog file.
(change RocketTile.txt => RocketTile.v)

[test_discovery_result.txt](https://github.com/cocotb/cocotb/files/4242969/test_discovery_result.txt)
[RocketTile.txt](https://github.com/cocotb/cocotb/files/4242972/RocketTile.txt)

[2020-02-24 04:16] mballance opened #1451 "VHPI compilation fails with Conda GCC"
I'm seeing a compilation failure on the VHPI library when using Conda and top-of-trunk cocotb. This is due to Conda using a fairly recent version of GCC (7.3.0) that only defines the standard format macros (eg PRIu32) for C code (not C++) or if a special macro is defined.
Definition of the macros is protected as follows in inttypes.h:

[code]

I have a PR that defines _STDC_FORMAT_MACROS in VhpiIm

[2020-02-24 04:48] ktbarrett commented on #1451
Copy of #1422.

[2020-02-24 04:59] ktbarrett commented on #1446
The implementation is now available for review.

[2020-02-24 08:39] themperek commented on #1432
I suggest to check with `Icarus` to me it looks like Verilator issues.

[2020-02-24 08:51] themperek commented on #1448
This also work. What do you think?

[code]

[2020-02-24 11:41] gretzteam opened #1454 "RecursionError when trying to unpickle dut object"
When trying to pickle the 'dut' object, pickle returns a 'max recursion error'.

[2020-02-24 11:54] gretzteam commented on #1454
With full traceback:

131092.00ns ERROR    Test Failed: randmode (result was RecursionError)
                     Traceback (most recent call last):
                       File "/mnt/c/coco/design/tests/design.py", line 182, in randmode
                         plotoutput()
                       File "/mnt/c/coco/design/tests/design.py", line 187, in plotoutput
                         tb = pickl

[2020-02-24 11:55] eric-wieser commented on #1454
That's a fun one. It looks like `self._sub_handles` is hitting `__getattr__`, which then recurses!

[2020-02-24 16:08] toddstrader commented on #1435
The irony here is that I'm fighting bugs while migrating to Python 3.  So this presents a bit of a chicken/egg problem.  But as long as there's something better to look forward to I'll be happy.

Since I don't have any existing `async def` examples, I modified one of the cocotb examples:
https://github.com/toddstrader/cocotb/tree/async-coro-debug

Given this branch, I still see send() when breakin

[2020-02-24 16:21] eric-wieser commented on #1435
Unfortunately, you only get the benefit of `await` if you:
* Change the caller to use `await`
* Change the callee to use `async def`
* Remove the `coroutine` decorator from the caller.

For this reason, I intend to replace all `coroutine` functions within cocotb to use `async def` at some point :)

I think I now understand your problem - we implemented exception propagation through coroutines, but

[2020-02-24 17:09] garmin-mjames commented on #1446
We'll also want to change `gpi_logging` behavior to register a log handler (`*_v` style).
Then `gpi_log` will pass log calls to handler and check the return value, falling back to `gpi_log_native_v` if the handler returns an error.
I was working on this before @eric-wieser's `gpi_log` changes, which should make this much easier now.

[2020-02-24 18:48] tsengr0916 opened #1456 "-Wno-unused-result error"
I'm using the latest cocotb and gcc 5.3 version. When I install cocotb with pip3 install command, I got this error:
[code]
How do I resolve this problem? Please advise.

Thanks,
Richard

[2020-02-24 18:54] eric-wieser commented on #1456
Can you clarify exactly what command you ran, so we can work out what version you're using?

[2020-02-24 19:09] themperek commented on #1456
This looks like `-Wno-unused-result` would come from `distutils` since it is at the beginning.

Can you paste here what you get with `python -m sysconfig`?

[2020-02-24 19:17] toddstrader commented on #1435
I see.  I've updated the above branch with what I believe is everything you've mentioned.  I now see the following when I run this example:

[code]

This is exactly what I was hoping for.  You seemed to indicate that there will be different information between when we see a stack trace from an exception vs when we are looking at the stack with pdb.  I do see that pdb observes the scheduler whereas

[2020-02-24 19:40] eric-wieser commented on #1435
Whenever you `fork`, you end up with the disjointed stack like you had before.

The key thing to realize is that unless you do all three of the items I describe above, every `yield` or `await` becomes a `fork` (followed immediately by a join).

[2020-02-24 19:57] toddstrader commented on #1435
OK, thanks for all the info.  I don't yet feel that I have enough of a handle on this to write anything in the docs (besides: try to use native coroutines and not generators), but I'm still experimenting so hopefully I'll get there.

I'll close this out for now and if I have any other examples around `fork` or whatnot I'll reopen or open a different issue.

[2020-02-24 19:57] #1435 closed

[2020-02-24 20:04] themperek commented on #1456
From: https://github.com/atom/node-oniguruma/issues/25#issuecomment-69050611

It looks this option was added in GCC 4.4.
http://repo.or.cz/w/tinycc.git/blobdiff/40a54c4399cc5e687d93add4b89bc16c19aaddfe..e79c3533ecefd004daad8a27333582b2dad7f0b0:/Makefile

So old version of gcc is not supported https://cocotb.readthedocs.io/en/latest/quickstart.html#pre-requisites

[2020-02-24 21:50] toddstrader opened #1458 "asyncio-like debug for cocotb forks"
As discussed in #1435, native coroutines (`async def`) make debugging exceptions easier than generators decorated as cocotb coroutines.  However, `cocotb.fork()` gets you back into the difficult-to-debug state.  As @eric-wieser suggested, it would be handy if cocotb had an option to debug its forked coroutines [like asyncio Futures have](https://docs.python.org/3.6/library/asyncio-dev.html#asyncio

[2020-02-24 21:55] cmarqu commented on #1456
Richard says he is using gcc 5.3. But maybe it's picking up an old version from somewhere else?

[2020-02-24 22:27] cmarqu commented on #1448
We cannot use f-strings yet (only with 3.6+), and the import should say ``FallingEdge``.

[2020-02-24 23:22] mao-karin opened #1459 "libcocotbvhpi.dll" library. The library does not exist or is corrupted"
I am working with pyhton 3.7, Aldec Riviera Pro 2017- 64-bit, cocotb 1.3 and MSYS2. When I run this test on jenkins and on remote PC I'm getting getting this issue.

My log looks like this:

VHPI: Loading library 'C:/JenkinsSlave/workspace/Regression_Tests_CoCoTB_mao/Vivado/ip_repo/registers_1.0/sim/build/libs/x86_64/libcocotbvhpi.dll'
VHPI: Cannot load the "C:/JenkinsSlave/workspace/Regression_Te

[2020-02-25 00:06] cmarqu commented on #1459
I fear this is a bug in cocotb 1.3.0 where a library renaming was not reflected in the Makefile for Riviera (and IUS): https://github.com/cocotb/cocotb/commit/14454b88b68327afb4e52dc5d6777aa99aa884fc#diff-5a5ae9f86b6f06a1263c126addca482fR87
Are you able to modify this Makefile (``cocotb/share/makefiles/simulators/Makefile.aldec``) in your installation?

@imphil Does this warrant a 1.3.1 release? :

[2020-02-25 01:49] mao-karin commented on #1459
Thank you! it's not complaining about the libcocotbvhpi.dll anymore after making the changes.
but the log file is coming up with this now:
make[1]: *** [/c/cocotb/cocotb/share/makefiles/simulators/Makefile.aldec:176: results.xml] Error 139
make: *** [/c/cocotb/makefiles/../cocotb/share/makefiles/Makefile.sim:80: sim] Error 2
starting test of:  registers
make results.xml

[2020-02-25 04:01] binupr opened #1460 "Unused pieces of code in Makefile.aldec"
Hi,

While debugging a libcocotbvhpi.dll missing issue for cocotb1.3, I noticed that some parts of the Makefile.aldec is incomplete. Like the below:
--
else ifeq ($(TOPLEVEL_LANG),vhdl)
--
is anyone working on this?

We recently migrated to cocotbv1.3 and unable to get our Aldec RivieraPro simulations progressing due to the libcocotbvhpi.dll missing issue. In that debugging process, I noticed the

[2020-02-25 07:45] themperek commented on #1459
If I manage to get a licanse will try to fix Aldec issues. It is very hard if one cannot test.

[2020-02-25 08:57] themperek commented on #1448
We could do something like "assert dut.q == val, "Oh no! The output is incorrect!"`

[2020-02-25 09:39] imphil commented on #1459
We can of course do a 1.3.1 release with that fix.

[2020-02-25 14:49] ktbarrett commented on #1458
This occurs in asyncio because the `Tasks` you created in the loop had errored and the futures were not retrieved after the first of the `Tasks` threw an exception, causing the script to end.

This is not possible right now.
1. If a `fork` gets an `Exception` it fails the test, `fork` is not a `Future` (some discussion on this in #922)
2. Reference cycles are causing `__del__` on `RunningTask`s to

[2020-02-25 18:51] Nitori- commented on #1449
I've had a lot of luck with [PyHamcrest](https://pyhamcrest.readthedocs.io/en/release-1.8/tutorial/) for adding richer asserts to Python packages (except when using pytest, which seems to use dark magic to get fancy looking asserts).

I will grant that it's a little verbose and I could see how some people might not like that.

[code]

[code]

[2020-02-25 20:16] themperek commented on #1449
@Nitori- Nice find. If this work maybe we should document this and do not reinvent anything new for now.

[2020-02-25 21:13] cmarqu commented on #1459
The error 139 may mean a segmentation fault (https://stackoverflow.com/questions/42882168/how-to-solve-exit-code-139-error-when-reading-from-file-on-unix#comment104094572_42890711), but I'm not sure if this helps any...

[2020-02-25 22:01] cmarqu commented on #1460
(Re the ``libcocotbvhdl.dll`` problem, see https://github.com/cocotb/cocotb/issues/1459#issuecomment-590612165)

[2020-02-25 22:09] cmarqu commented on #1460
Not sure what you mean with "incomplete".
There is an
* "if" branch for ``TOPLEVEL_LANG=verilog`` (https://github.com/cocotb/cocotb/blob/v1.3.0/cocotb/share/makefiles/simulators/Makefile.aldec#L84),
* an "elseif" for ``TOPLEVEL_LANG=vhdl`` (https://github.com/cocotb/cocotb/blob/v1.3.0/cocotb/share/makefiles/simulators/Makefile.aldec#L90)
* and an "else" for reporting an error when ``TOPLEVEL_LANG`

[2020-02-25 22:14] cmarqu commented on #1460
By the way, @binupr and @mao-karin, after this problem is resolved (hopefully soon), could you help us verifying that #1378 works as intended?

[2020-02-26 00:16] mao-karin commented on #1459
I made the changes as suggested like this in the makefile.aldec. However, my DUT is in vhdl and since i didnt make any changes in the "else ifeq ($(TOPLEVEL_LANG),vhdl)" (not sure how this line works), does that matter?

`GPI_EXTRA:=
ifeq ($(TOPLEVEL_LANG),verilog)
    GPI_ARGS = -pli libvpi
ifneq ($(VHDL_SOURCES),)
    **GPI_EXTRA = cocotbvhpi**
endif

else ifeq ($(TOPLEVEL_LANG),vhdl)`

And i lo

[2020-02-26 00:18] mao-karin commented on #1460
Hi yes I can look into this afterwards.

[2020-02-26 00:48] binupr commented on #1460
I was getting confused with the branching of that "else ifeq". Agree that Line90 was complete. But I would propose the below change with appropriate tabbing for clarity. I test this locally and works on Riviera Pro:
=====
else ifeq ($(TOPLEVEL_LANG),vhdl)

	ifeq ($(OS),Msys)
	    VHPI_LIB = $(shell sh -c 'cd $(LIB_DIR) && pwd -W')/libcocotbvhpi
	else
	    VHPI_LIB = $(LIB_DIR)/libcocotbvhpi
	endif

[2020-02-26 07:10] cmarqu commented on #1459
My guess is that the change in the Makefile now enables you to see the real problem. Is there some more information in ``sim_build/sim.log`` maybe?
(By the way, if you want to mark up multiple lines of code, use triple backticks before and after: ```)

[2020-02-26 07:26] themperek commented on #1459
On windows, the situation is not so obvious. At some point, I had a license for a few days and fix this here
 https://github.com/cocotb/cocotb/pull/1099 (can be done better).

[2020-02-26 13:25] themperek opened #1461 "A tcl based flow ?"
We could now make a simple tcl based flow.

A Modelsim script for adder example (`vsim -c -do run.do`):
[code]

Should we add such flow under examples (can use Icarus in CI) or document it?

[2020-02-26 19:34] garmin-mjames commented on #1461
I ended up making a tcl package with some helper procedures that set the `::env` vars and launch simulation with the right library.
Using `TCLLIBPATH` envar to point to the package folder, your script can then use `package require cocotb` and call the procedures. Keeps the script clean, and less brittle if the underlying details change.

[2020-02-26 21:16] #1389 closed

[2020-02-27 04:12] mao-karin commented on #1459
Unfortunately, I will have to get back to you next week with this due to some technical issues.

[2020-02-27 23:34] tsengr0916 opened #1463 "Python 3.8.1 installation error"
I'm trying to use Python 3.8.1 to pip install COCOTB on Linux Suse12 machine. I got the error like this, "ModuleNotFoundError: No module named '_ctypes'".

Any ideas?

The trace of the error is like below:
[code]
I don't have this issue with Python 3.5.
Your help/input will be highly appreciated!

Thanks,
Richard

[2020-02-27 23:38] tsengr0916 commented on #1456
Thank you guys very much. That was my mistake. I thought I was using gcc 5.3, but actually my environment variable was not set correctly, and it picked up an older version.

After I added the gcc 5.3 executable at the front of the $PATH, it solves the issue. Sorry and thank you all for looking into this.

Richard

[2020-02-28 00:10] #1456 closed

[2020-02-28 00:58] eric-wieser commented on #1463
You seen to have a broken python installation, as your error is coming from trying to import the builtin python `ctypes` module.

[2020-02-28 02:44] tsengr0916 commented on #1463
From this link https://bugs.python.org/issue31652, it seems we need to install  libffi-devel. Is that really true?
I checked our Python 3.5 installation, which works with COCOTB. It has the similar code to import _ctypes at the op of the ctypes.

[2020-02-28 06:24] themperek commented on #1463
This is streange. We have 3.8 in CI. What you can try is to add `--no-use-pep517` during installation see http://pip.pypa.io/en/stable/reference/pip/

[2020-02-28 09:11] eric-wieser commented on #1463
It might be worth opening the same issue against pypa/setuptools, and see if they have any thoughts.

[2020-02-28 13:33] Millennium-Software-Design commented on #1463
I ran into this error when I built python 3.8 myself.  You will need libffi installed before you build python (assuming that's what's going on here).

[2020-02-29 22:51] cmarqu opened #1466 "Documentation building: "WARNING: duplicate label""
With ``sphinx.ext.autosectionlabel`` (in use since https://github.com/cocotb/cocotb/commit/862012b3c01f90ea1fb715c206b4eb785119f964), we got quite some new "duplicate label" warnings.

To fix some of those warnings, we could set ``autosectionlabel_prefix_document = True`` which prefixes each automatically generated section label with the name of the document it is in, followed by a colon.

A drawb

[2020-03-01 06:10] Martoni commented on #1466
Hi Colin,

If I remember, I added this dependency just to be able to reference
«chapter». Then yes I think we can remove the dependency and add an
anchors (i'm a sphinx beginner ;).

Do you want me to do it ?

Regards,
Martoni
http//www.fabienm.eu/flf/

[2020-03-01 06:52] cmarqu commented on #1466
Hi Fabien,

Thanks for the quick reply, I can do it as part of some other changes, I just wanted to get your opinion on it.

[2020-03-01 16:59] ktbarrett commented on #1428
One more issue is that the `argv` available to cocotb is not the command's `argv` on all simulators. A recent test shows that on Icarus, `argv` does not represent the command's `argv`, simulator options are stripped first. On Questa, args are acquired from the outer `vsim` call, which does not have all the simulator args either. Putting this in `sys.argv` may give off the wrong impression.

[2020-03-02 21:59] #1466 closed

[2020-03-02 22:34] #1437 closed

[2020-03-03 07:16] themperek commented on #1463
@tsengr0916 Could you provide any update on this issue or close it?

[2020-03-03 15:12] ktbarrett opened #1473 "Add function to abort the currently running test"
We should move away from raising a `TestComplete` as a way for the user to end a test immediately. Most of the hangups in #937 come from the fact that it still special cases `TestComplete`, because there is otherwise no way for a user to immediately end a test. So we should add one.

Asyncio in 3.7 introduced the `current_task` variable, we could do something similar:

[code]

[code]

This may be

[2020-03-03 22:53] ktbarrett opened #1476 "test_force_release regression on Questa with FLI"
Introduced #1403.

[code]

[2020-03-04 02:12] ktbarrett opened #1477 "Partition environment variables"
From https://github.com/cocotb/cocotb/pull/1293#discussion_r386031732.

In the [Build options and Environment Variables]( https://cocotb.readthedocs.io/en/latest/building.html#build-options-and-environment-variables) section of the the documentation, there are a lot of environment variables under the sections: "Make Variables", "Environment Variables", and "More Environment Variables", which aren'

[2020-03-04 17:59] lavanyajagan opened #1478 "cocotb verilator code coverage support"
Could you add verilator coverage support in the following file:

``cocotb/share/lib/verilator/verilator.cpp``

[code]

[2020-03-04 18:31] imphil commented on #1478
Thank you for your issue. Would you mind opening a pull request with the proposed change?

[2020-03-04 18:33] themperek commented on #1478
We already have `COVERAGE` in Aldec but the same variable is used to collect python coverage so maybe we should use different variables.

[2020-03-04 18:36] imphil commented on #1478
VM_COVERAGE is a Verilator define which is set if Verilator is instructed to collect coverage (when compiling the simulation).

This is different from a variable that users would use in a cocotb makefile to instruct Verilator to actually build in coverage (the equivalent to `COVERAGE` in Aldec)

[2020-03-04 20:08] thasti commented on #1476
Do you see the regression here in that `Force or release action not supported for FLI.` or in that the scheduler bugs out (`FATAL: We are calling up again`)?

If it is the latter: I indeed saw the same message yesterday also in Incisive (using VPI, against an actual simulation using Force/Release, not this testcase) but didn't bisect yet whether #1403 is the actual root cause of it.

[2020-03-04 20:51] lavanyajagan commented on #1478
https://github.com/cocotb/cocotb/pull/1479

Hope this is sufficient. Thanks

[2020-03-04 22:41] ktbarrett commented on #1476
@thasti "FATAL: We are calling up again" I see as the error. #1403 is when it started happening, I don't the cause yet.

[2020-03-05 00:30] JaewonHur commented on #1432
Yes, it is able to get handle when using ```Icarus```

It seems Verilator issue.

[2020-03-05 02:45] futurehome opened #1480 "An unexpected termination has occurred in sim_build/simv due to a signal: Segmentation fault"
Hi,

I tried to run an example test - axi_lite_slave, with cocotb 1.3, vcsmx/2018.09_sp2_8, but the simulation crashed, I found something unusual in the log file:
1)     -.--ns ERROR    cocotb.gpi                                 VpiCbHdl.cpp:74   in arm_callback                    VPI: Unable to register a callback handle for VPI type cbStartOfSimulation(11)
2)     -.--ns ERROR    cocotb.gpi

[2020-03-05 05:34] JaewonHur opened #1481 "Memory leak in simulation"
When running cocotb with verilator, there is a memory leak in simulation.

I ran valgrind and found some result, but I couldn't know whether it is the issue of cocotb or verilator.
(I just yield 1000 cycles of clock with on RocketTile)

[valgrind-out.txt](https://github.com/cocotb/cocotb/files/4291126/valgrind-out.txt)

[2020-03-05 05:46] JaewonHur commented on #1481
It is related to verilator, there is no memory leak when using iverilog.

[2020-03-05 09:01] cmarqu commented on #1480
Related: #1261

[2020-03-06 01:38] futurehome commented on #1480
Are there any ways that I can use to avoid this bug temporarily?

Alex

[2020-03-06 03:58] futurehome opened #1483 "'tuple' object has no attribute 'major'"
Hi,

When I try to run example like ping_tun_tap, it shows the error below:

Chronologic VCS simulator copyright 1991-2017
Contains Synopsys proprietary information.
Compiler version N-2017.12-SP1_Full64; Runtime version N-2017.12-SP1_Full64;  Mar  6 11:38 2020
     -.--ns INFO     cocotb.gpi                                  gpi_embed.c:78   in set_program_name_in_venv        Did not detect Python

[2020-03-06 04:31] ktbarrett commented on #1483
Could you post the result of the command `python --version`?

[2020-03-06 06:27] futurehome commented on #1483
It's the setting issue for python, thanks.

Alex

[2020-03-06 06:27] futurehome commented on #1483
It's my setting issue for python, thanks.

Alex

[2020-03-06 06:28] #1483 closed

[2020-03-06 06:50] cmarqu commented on #1480
Try the change described in https://github.com/cocotb/cocotb/issues/1261#issuecomment-571718339 which is here: https://github.com/cocotb/cocotb/blob/77ecf0ef67aad31916be1baf16b8174e8591b70d/cocotb/share/lib/gpi/GpiCommon.cpp#L137

[2020-03-06 21:04] chiraag commented on #1422
Will one of the open PRs fix this? Do you need anyone to test these out?

[2020-03-06 21:36] cmarqu commented on #1422
It should be enough to export/setenv ``CPPFLAGS "-D__STDC_FORMAT_MACROS"`` and re-run pip (with ``-f`` or ``--force-reinstall``). If you do that, letting us know the result would be appreciated.

[2020-03-07 02:13] chiraag commented on #1422
Which commit should I try this with?

[2020-03-07 08:59] cmarqu commented on #1422
Any that you see this error message with.

[2020-03-07 21:04] cmarqu commented on #1477
I agree. In order to ease collaboration on the partitioning, I have taken the names and short description from ``Makefile.sim`` and copied them to https://github.com/cocotb/cocotb/wiki/__Playground__

[2020-03-08 22:01] cmarqu commented on #669
We should also merge ``VERILATOR_SIM_DEBUG`` and ``COCOTB_NVC_TRACE`` into this.

[2020-03-08 22:07] cmarqu commented on #1477
Of the list, I would pull the variables marked in <https://github.com/cocotb/cocotb/wiki/__Playground__> with ``(__common__)`` into a beginners tutorial in #1482 (or follow-up PR).

[2020-03-08 22:19] cmarqu commented on #1460
@binupr I have edited your comment above and wrapped the Makefile code example with triple backticks - is that what you were proposing?
In general, we have had bugs due to innocent looking Makefile formatting (tabs vs spaces; extra space; comments at the end of a line) in the past (some only showing up with certain code paths), so I'm wary of doing that edit even if it looks fine...

[2020-03-08 22:50] cmarqu commented on #669
The documentation should make clear that these are simulator options, not options for either cocotb's C/C++ code nor the log level for the logging module.

[2020-03-08 23:25] cmarqu commented on #669
An alternative would be to not have this variable at all but just add examples of e.g. additional ``EXTRA_ARGS`` to the documentation.

[2020-03-09 04:35] futurehome commented on #1480
Still the same issue after modify GpiCommon.cpp file.
![image](https://user-images.githubusercontent.com/6230304/76183113-41b41900-6202-11ea-93bd-43150cd3f6af.png)

[2020-03-09 15:44] ktbarrett commented on #669
My opinion is if using these options is common, and beginners would benefit from using them, they should be separate variables and documented well. I think a "debug" variable that "does the right thing" for each simulator falls into that case.

[2020-03-09 20:10] thasti commented on #1476
I managed to bisect this. For me, it is 628dfa8038178236c1bad8631503f7b53b664e53 that introduces the breakage. Every simulation in Incisive (even without Force/Release) fails with

[code]

c4524ebfa73e72c3452084228ffef3337adce353 still works fine, so #1403 is not the culprit here.

Even the most simple test case triggers this for me:
[code]

@ktbarrett could you confirm that the same is true for Q

[2020-03-09 20:13] thasti commented on #1476
Another piece of (perhaps related) evidence:

Starting with 628dfa8, on startup I see the following. It appears VPI is registered twice?
[code]

[2020-03-09 21:02] cmarqu commented on #669
@wallento What do you think about the idea of throwing together ``VERILATOR_SIM_DEBUG`` and ``VERILATOR_TRACE`` under ``COCOTB_SIM_DEBUG``?

[2020-03-09 21:04] thasti opened #1484 "Scheduler bug triggered when yielding RisingEdge trigger on Force()'d signal"
This is unrelated to #1476 for all I can see.

Using this simple test case:

test.v
[code]

test.py
[code]

I get the following output:
[code]

It appears that when the "Force(1)" call makes the trigger condition for the RisingEdge() timer become true, the scheduling runs into a problem. From what I could make out, the Force() is still done, but the following yield `Timer(1, "ns")` causes the FATA

[2020-03-09 21:20] ktbarrett commented on #1476
@thasti
This happens for Questa when running with the toplevel language as VHDL, so it can't be the rename of libvpi. And it only happens for this test. I'll look at it soon.

[2020-03-09 21:48] chiraag commented on #1422
I can confirm that this works for me. Is this the recommended fix going forward or will this be incorporated in the build scripts?

[2020-03-09 22:14] cmarqu opened #1485 "Document LICENSE_QUEUE variable"
The makefile for Aldec Riviera supports the undocumented ``LICENSE_QUEUE`` variable.

This variable also should get a ``COCOTB_`` prefix, though ``COCOTB_LICENSE_QUEUE`` looks like it is ccotb which needs to queue for a license.  ``COCOTB_SIM_LICENSE_QUEUE`` is a bit long.

[2020-03-09 22:21] themperek commented on #1485
I actually not sure about all those variables. Would it not be better to keep just the necessary one and let the user set more?

[2020-03-09 22:22] cmarqu opened #1486 "Support license queueing for more simulators"
The variable ``LICENSE_QUEUE`` is supported for Aldec Riviera right now.

It can be supported for more simulators:
- Cadence: ``-licqueue``
- Synopsys: ``+vcs+lic+wait``, ``-licwait <minute>``, ``-licqueue``
- Mentor: (on by default?)

[2020-03-09 22:49] cmarqu commented on #1422
Thanks for the confirmation. It will make its way into cocotb, we just haven't decided on the method to use yet.

[2020-03-09 22:50] cmarqu commented on #1485
This exists since a long time, I guess it would be harder to remove it than to add support in more simulators...

[2020-03-09 23:12] cmarqu commented on #1480
One pitfall that may be the cause: if you installed cocotb with pip (in editable mode), you need to re-run pip with the ``-f`` option in order to actually compile the C++ code change.

[2020-03-10 00:49] mao-karin commented on #1459
Hi, sorry it took a while to get back to you all. I looked at the windows support that themperek has suggested. For a clean start, I reinstalled riviera, msys and cocotb. But I am running into the same issue. Thanks in advance!

This is the log:

# make TEST=registers_coco
make results.xml
make[1]: Entering directory '/c/JenkinsSlave/workspace/Vivado/diceros/ip_repo/registers_1.0/sim'
set -o pipef

[2020-03-10 07:52] themperek commented on #1480
@cmarqu This is the only case for >= 1.4

[2020-03-10 08:11] themperek commented on #1459
@mao-karin It will be hard to fix all this for version 1.3 at this point. Your environment seems also very complicated. What you can try is to use this (1.4.dev): https://github.com/cocotb/cocotb/pull/1462

`pip install https://github.com/themperek/cocotb/archive/better_windows2.zip`

[2020-03-10 15:47] ktbarrett commented on #1477
Updated the wiki, added `RANDOM_SEED`.

[2020-03-10 16:57] garmin-mjames commented on #1061
Callback support:

Simulator | `vhpiCbRepLastKnownDeltaCycle` support | `vhpiCbRepEndOfTimeStep` support
---------- | ------------------------------------------ | -------------------------------------
Aldec Active-HDL 10.1+ | :heavy_check_mark: | :heavy_check_mark:
Aldec Riviera | :grey_question: | :grey_question:
GHDL | :grey_question: | :grey_question:
Cadence Incisive | :grey_question: | :grey_

[2020-03-10 17:58] garmin-mjames opened #1487 "Resolve issue with invalid COCOTB_RESOLVE_X value"
https://github.com/cocotb/cocotb/blob/e9490fab386476fa977f7c7da28baec2555530ce/cocotb/binary.py#L36-L53

Currently, when `COCOTB_RESOLVE_X` is not set to one of the supported options, the `resolve` function does nothing and does not raise an error, returning the unresolved binary string.

I think we should default to `VALUE_ERROR` behavior rather than blowing up the integer conversion, and possibl

[2020-03-11 00:44] nredd opened #1488 "Overhaul of Driver + Monitor for Avalon-ST interface (w/ and w/o packets)"
I use cocotb extensively at work, and have expanded on the classes `AvalonST(BusMonitor)`, `AvalonSTPkts(BusMonitor)`, `AvalonST(ValidatedBusDriver)`, and `AvalonSTPkts(ValidatedBusDriver)` to (almost!) fully implement and update the parameterizability of the Avalon-ST interface for use with our internal TBs. The most recent spec is [here (see ch 5)](https://www.intel.com/content/dam/www/programma

[2020-03-11 00:53] mao-karin commented on #1459
@themperek downloaded 1.4dev and looked at #1462 too.

1. I cant pip install  pip install https://github.com/themperek/cocotb/archive/better_windows2.zip
- ERROR: Could not build wheels for cocotb which use PEP 517 and cannot be installed directly
- So if I just replace the 1.4dev files with your files will that work as an alternative?

2. in #1462 could you be a little more clear with "in embedde

[2020-03-11 03:11] ktbarrett commented on #1289
Remove all `__nonzero__` functions.

[2020-03-11 04:02] ktbarrett commented on #1289
Fun times ahead. I was rewriting test timeout to use async functions, which required rewriting `with_timeout` to handle async functions, which is most reasonably accomplished as such:

[code]

`First` in this case would `fork` `_timeout()` (or I could here, regardless...). But the timeout exception will only propogate if #922 is resolved first.

[2020-03-11 10:27] imphil opened #1490 "Decide on stable branch names"
We need a branch for stable/maintenance releases, e.g. 1.3.x.

My recommendations:
- The branch name should not overlay the version tag namespace, which is currently starting with `v`, e.g. `v1.3.0`. This makes it easier to auto-complete, and easier to set up GitHub branch filters.
- I'd like to avoid the full word `maintenance` as I'm always misspelling it.

Suggestions:
- stable-1.3
- stable/1.3

[2020-03-11 10:29] imphil opened #1491 "Release v1.3.1"
#1472 contains a backport of Aldec-specific changes to the 1.3 branch. This issue is to track the release of a 1.3.1 version of cocotb.

Release process checklist:
- [x]  Decide on branch name: https://github.com/cocotb/cocotb/issues/1490
- [x]  Merge https://github.com/cocotb/cocotb/pull/1472 into release branch
- [x]  test packaged release from CI
- [x]  prepare RC release
- [ ]  prepare release

[2020-03-11 10:48] eric-wieser commented on #1490
Argument for slashes - my graphical git client groups together branches named in that way. It also maps to folders within `git/refs/heads`

[2020-03-11 13:23] themperek commented on #1490
The decision is: `stable/1.3` the branch is here: https://github.com/cocotb/cocotb/tree/stable/1.3

[2020-03-11 13:23] #1490 closed

[2020-03-11 15:01] sjalloq opened #1492 "Questa Makefile changes for 2020 releases"
Hi,

I recently received a 2020.1 patch fix for a Cocotb issue I reported to Mentor.  One issue that users will soon see is that Questa errors out if the old style +acc=rmb is used.  This requires a simple change to Makefile.questa.

[code]

[2020-03-11 16:41] ktbarrett commented on #1488
A couple things:

* Welcome to cocotb! And thank you for updating the Avalon components!
* cocotb has zero runtime dependencies and I think this is a beneficial thing, adding a dependency for a non-essential component is not going to fly.
* The reasoning behind #864 is sound, cocotb is a cluster of technologies that enable one to write testbenches using Python. Defining a methodology on top of tha

[2020-03-11 17:53] nredd commented on #1488
I see—thanks for clarifying!

Does that mean that the ‘drivers’, ‘monitors’, and ‘generators’ sub-packages are intended to be made extensions as well?

[2020-03-11 18:08] ktbarrett commented on #1488
I would like to, but I don't think there have been discussions on that yet.

[2020-03-11 20:53] ktbarrett commented on #1488
@eric-wieser It seems you are the one with the permissions to create new repos in the organization.

[2020-03-11 23:18] marlonjames opened #1494 "[Active-HDL] VHPI callback issue in some versions prevents cocotb from working"
There is a bug in several versions of Aldec Active-HDL that prevent cocotb from working.

Simplified, the issue is as follows:
The VHPI callback used for cocotb's `ReadWrite` trigger is not called on delta cycles of a time step.

So this test will not work:
[code]
The first `ReadWrite` callback that sets the clock value will work. The `RisingEdge` callback also works, and is triggered on the next

[2020-03-11 23:37] cmarqu opened #1495 "Deprecate simulator-specific make variables"
The maintainers decided to deprecate some make variables that have not been implemented for all simulators. Reasons are the general maintenance burden, and that we often cannot test the effect of these variables in CI.
If any of these variables are used, we will print a warning with a reference to the documentation where we will explain how to achieve the same effect in a different way.

The initi

[2020-03-13 16:25] ktbarrett commented on #1061
@garmin-mjames Do you have a branch with the changes that we could test with?

[2020-03-13 18:29] garmin-mjames commented on #1061
@ktbarrett see #1498

[2020-03-14 08:49] mao-karin commented on #1459
Hi guys can I get some help regarding this please? Still stuck at this :(
@themperek @cmarqu @imphil

[2020-03-14 09:24] themperek commented on #1459
@mao-karin You seem to have very complicated environment with multiple installations GCC and possibly other (from Xilinx, Aldec,...). They are all possibly not compatible with each other.

You seem to have something very wrong with your installation.

in #1462 could you also please clarify "set PATH to include a path to cocotb compiled libraries in Makefile.pylib.Msys"
Does this mean "C:\cocotb\co

[2020-03-15 15:57] ktbarrett opened #1499 "Test names are incorrect in summary"
From https://github.com/cocotb/cocotb/pull/1380#issuecomment-599155133. Introduced in #1262. It's due to all the unnecessary monkeying the decorators and regression manager do to compute a name. The PR changed how the module name is passed to `_store_test_result`. It uses `__module__`, but on `RunningTest`s that value is `cocotb.decorator` instead of the module name of the underlying function.

[2020-03-15 16:08] ktbarrett commented on #1499
`RunningTest` mostly exists for use by the regression manager. It really doesn't need all the extra attributes on it, they already exist on the `test` object. The regression manager should be changed to just work off `test` objects instead of stuffing all the info it needs from that object into yet another object. `RunningTest` and `RunningCoroutine` should just go away entirely. I think this will

[2020-03-15 17:04] eric-wieser commented on #1499
To be clear, you're advocating that `RunningTest` and `RunningCoroutine` should both be replaced with their `RunningTask` baseclass, which doesn't have any of the weird attributes.

[2020-03-15 17:05] eric-wieser commented on #1499
What I'd eventually like to happen is for the regression manager to just be a single coroutine run by the scheduler, with the weirdness wrapped into a few new scheduler methods or context managers

[2020-03-15 17:47] ktbarrett commented on #1499
@eric-wieser Yes, deprecated `RunningTest` and `RunningCoroutine` and change the decorators to create `RunningTasks` in their place. The regression manager could simply `fork` a test "watcher", which in turn `fork`s the test coroutine and records the outcome of the test once it finishes. I don't think we need any additional scheduler features to support that.

[2020-03-15 18:30] eric-wieser commented on #1499
We need a feature to collect and kill all coroutines forked by the test before starting the next one, which is currently embedded in the scheduler.

[2020-03-15 18:45] ktbarrett commented on #1499
I think we should destroy the scheduler between tests and have each trigger/coroutine clean itself up. But don't we already have `finish_scheduler` for that purpose?

[2020-03-15 21:25] ktbarrett opened #1500 "SINGLETON_HANDLES define"
What is it? What is it trying to solve? Does it work? It either needs documentation, or a PR to remove it and associated code (`CLEAR_STORE`).

[2020-03-15 23:39] imphil commented on #1491
1.3.1 is now released and available from PyPi.

[2020-03-15 23:39] #1491 closed

[2020-03-16 15:57] garmin-mjames commented on #1500
It stores a map of `path name` -> `GpiObjHdl*` so that subsequent accesses to an object don't have to do the full conversion from native (VPI/VHPI/FLI) to GPI objects each time.
I've never tested performance with it on/off.

[2020-03-16 19:02] ktbarrett commented on #1500
@garmin-mjames Enforcing single handles to objects actually seems actively bad. VHDL has the concept of aliases. Aliases likely would resolve to the same object and have different paths requiring different handles, right?

[2020-03-16 20:08] garmin-mjames commented on #1500
I think it would depend on the alias, as you can alias a sub-range of a vector for instance. The alias or parts of the alias would reference the same simulator objects behind the scenes. As far as I understand it, it doesn't necessarily mean the object handles from `VHPI` will be the same.

The context of the commit that added this (7ede134a3bd750f8d7857f9ff1773a88867e9db9) is iteration over a Pyt

[2020-03-16 21:59] garmin-mjames commented on #1487
Separately but related, `RANDOM` resolves all instances of each value to the same 0 or 1.
I.e.,
all `X`'s become `0`, all `x`'s become '1', etc.

It would be better to have each bit be resolved separately, so `XXXX` wouldn't be forced to `0000` or `1111`.

[2020-03-16 23:11] #1422 closed

[2020-03-17 16:28] ktbarrett opened #1503 "Add deprecation warning to `BinaryValue.value`"
The doctsring mentions this property is deprecated. Perhaps we should try to enforce that. A `DeprecationWarning` should be issued, and all usages of `BinaryValue.value` should be wiped from the tests and replaced with `BinaryValue.integer` or `BinaryValue.signed_integer`, or whatever is appropriate.

[2020-03-17 16:43] eric-wieser commented on #1503
It's a bit weird how the signed and unsigned integer setters are equivalent.

Given the known issues with `BinaryValue` today, I'm inclined to not add any deprecation warnings until we have a goal design in sight - we don't want to deprecate `.value` only to add it back again.

Thanks for filing this separately though. Can we find the commit that decided to deprecate these?

[2020-03-17 17:11] ktbarrett commented on #1503
Lol, it's been deprecated since the beginning of time. 7380e94202e33f3ee7a3369da0096b13560fce1d. I'm with you that I don't really care much about deprecating `.value` now if we are going to replace or refactor `BinaryValue` soon.

[2020-03-17 21:26] ktbarrett opened #1504 "Refactor of handle objects"
Handles (in handle.py) support dot syntax for traversal of the HDL object hierarchy, but they also contain a number of attributes for using the value. These namespaces are known to collide and there currently is no mechanism to work around this issue. And to some degree it is unavoidable, Python objects have a number of builtin attributes (usually starting and ending with 2 underscores).

To solve

[2020-03-17 23:15] eric-wieser commented on #1504
Can you give some concrete examples of name conflicts, and how each example would be spelt under each of your proposed new spellings?

[2020-03-17 23:16] eric-wieser commented on #1504
(in particular, is it only `.value` that is problematic?)

[2020-03-18 14:35] ktbarrett commented on #1504
I have run into `.value` before, it's the biggest offender. In that case the solution was to rename the object :/ This may not be easy depending upon the user. Formal verification processes are extremely bureaucratic, turn around time on a rename might be over a week. But *every* attribute on those classes is a valid Verilog identifier (VHDL identifiers can't start with `_`) and has the potential

[2020-03-18 14:40] ktbarrett commented on #1504
Another potential solution is to make indexes always do hierarchical lookup, but allow dot syntax to remain. Indexes will *always* be HDL traversal only and there can be no collisions, but dot syntax may collide. If you ever run into a name collision, just switch syntaxes, or just always use indexing.

[code]

[2020-03-18 15:05] eric-wieser commented on #1504
This is only actually an issue for heirarchical objects though, right? Is it possible for an object to both have both heirarchical descedents, and also have meaningful `drivers`, `loads`, `values` etc?

To be clear, I'm not disagreeing with you - I just want to end up with a precise description of the problem here.

[2020-03-18 15:06] eric-wieser commented on #1504
Not true, because python only cares about `type(dut).__operator__`, we're free to replace `dut.__operator__` via `dut.__getattribute__`.

[2020-03-18 22:11] Alex-Mann opened #1505 "Provide Verilog Sources in a .vf file"
Hi there,

I am wondering if it is possible to provide a `design.vf` file which is generated and contains all the paths to all the design files needed for compilation. For example, this would appear in the makefile in the `axi_lite_slave` example as:
[code]

And then in the makefile, you would include such a file like so:
[code]

I have tried this but it does not compile properly as it throws a sy

[2020-03-18 22:27] silvan-hdl opened #1506 "Illegal option -o pipefail"
Hi

I try to bring Cocotb to work with Modelsim from Intel.
Modelsim works fine. When running the Makefile, it breaks with the following message:
[code]
Running echo $SHELL returns /bin/bash
The first line in vsim is #!/bin/sh

System: Linux Ubuntu 19.10 x64

Any ideas?
Thank you for your help

[2020-03-18 22:32] eric-wieser commented on #1505
Are you looking for the following?
[code]

[2020-03-18 23:00] Alex-Mann commented on #1505
Yeah so my Makefile fu isn't the greatest... I've tried that though and this is the error I get when I run `make`
[code]

[2020-03-18 23:17] imphil commented on #1506
This sounds like a dash issue. Can you try adding `SHELL=bash` to `Makefile.questa`? Can you also check what shell `/bin/sh` is linked to?

[2020-03-18 23:19] eric-wieser commented on #1505
Yeah, you probably need to prepend the folder name. My makefile fu is also bad. Since this is at this point a make question ("How can I turn this file into this variable value") and not a cocotb one, I'd recommend asking on stack overflow.

When you find a solution, it might be a nice thing to include as an example somewhere.

[2020-03-19 09:28] cmarqu commented on #1506
Related: https://github.com/cocotb/cocotb/pull/897#discussion_r279330205

[2020-03-19 09:53] zlzg12345 opened #1508 "VCS reports "segamentation fault“ when python has some simple typo."
Hi,
When we wrote some simple examples to run them with VCS,
we find VCS report the below "segment fatal" even it just has some simple typo in python testcase.
Is it possible to make those errors report in python interprator rather than VCS ?
[code]

[2020-03-19 10:07] eric-wieser commented on #1508
Duplicate of #1261

[2020-03-19 10:07] #1508 closed

[2020-03-19 10:12] zlzg12345 opened #1509 "The performance between python and SV"
Hi,
We use SV for our projects now, but we are interested in cocotb becuase python has large library and support running without  compile.
We write some examples to check the performance beteen cocotb and pure sv and find it takes much more time (about 5 times,  we expected it just a littler slower),. We are not sure if we make any mistake when we use cocotb.

Is there anything to speed up (or slo

[2020-03-19 10:14] eric-wieser commented on #1261
And yet `registered_impls[0] == NULL`? The only way that could happen is if `gpi_register_impl(NULL)` is called.

However, there are only 3 places that call this function:
[code]
The C++ standard guarantees that `new` return a non-null value. It's possible that somehow VCS is non-compliant, but seems unlikely.

As a sanity check, can you stick a breakpoint in `gpi_register_impl` and verify the arg

[2020-03-19 10:14] eric-wieser commented on #1509
Are you using `yield` or `await`?

[2020-03-19 10:42] zlzg12345 commented on #1509
using yield.

[2020-03-19 10:46] imphil commented on #1509
It's really hard to give specific advice here without knowing more about your setup and your code. Can you post somewhere (a) what simulator you're using (including the version and operating system), (b) what code you're running, and (c) what method for profiling you're using.

[2020-03-19 10:46] eric-wieser commented on #1509
You'll get a small performance boost by switching to `async` / `await`, especially if your test-cases call lots of nested coroutines. If you perform lots of value assignments, there's a patch in the works that will greatly speed up that too.

[2020-03-19 13:53] eric-wieser commented on #1503
Let's leave this open, but not do anything till we have a clearer picture.

[2020-03-19 14:50] eric-wieser commented on #1289
@ktbarrett, is that something that would be fixed by changing `First` to also be `async def`?

[2020-03-19 14:59] ktbarrett commented on #1289
@eric-wieser Yes, in fact I already have that change on a branch. I missed it originally.

[2020-03-19 16:29] ktbarrett opened #1512 "Improve error reporting for `yield` inside async function"
Those that are in the process of converting `cocotb.coroutine` functions using `yield` to async functions may run into problems where they miss a `yield`, which turns their coroutine into an async generator. If an async generator makes it to the scheduler it will result in a less than helpful error message. Instead we should check for async generators where we expect coroutines and throw a `TypeEr

[2020-03-19 16:30] eric-wieser commented on #1512
Good idea

[2020-03-19 16:33] eric-wieser commented on #1512
I assume the current error message is from these lines:

https://github.com/cocotb/cocotb/blob/c4a573defa921e5a16e63f585481ad3790bcf5d7/cocotb/decorators.py#L90-L98

Is all you're suggesting a more precise error if `inspect.isasyncgen` is true?

[2020-03-19 16:38] #719 closed

[2020-03-19 16:39] ktbarrett commented on #1512
@eric-wieser I think that will be the only place that needs to change, `fork`s and `yield`s must go through that, when using `await` you have different semantics. But I will test.

[2020-03-19 16:39] eric-wieser commented on #719
Ah, not addressed by gh-1497: Deprecating these. I'll open a new issue.

[2020-03-19 16:43] eric-wieser opened #1513 "Consider deprecating property aliases in BinaryValue"
We should consider deprecating all of these `BinaryValue` methods:

  * `.set_value(x)`, which is just `.value = x`
  * `.get_value()`, which is just `.value`
  * `.set_buff(x)`, which is just `.buff = x`
  * `.get_buff()`, which is just `.buff`
  * `.get_value_signed()`, which is just `.signed_integer`
  * `.set_binstr(x)`, which is just `.binstr = x`
  * `.get_binstr()`, which is just `.binstr`

[2020-03-19 20:20] silvan-hdl commented on #1506
Thank you imphil
Thank you cmarqu

adding SHELL=bash solved the problem.

[2020-03-20 02:55] zlzg12345 commented on #1509
Hi,
Thanks for the reply.  We are using :
a). vcsmx/2017.12_sp1  & Red Hat Enterprise Linux Server release 6.10.
b). The simple driver (I2S,  one audio interface, very simple and common) we wrote base on your example, it is used to replace the existed pure SV i2s driver in our legacy testbench (It still include many other drivers in SV).
c), We run the same testcase (only the drivers are different

[2020-03-20 03:08] zlzg12345 commented on #1509
Thanks for the reply. I will try "async and await",   and  where can I find the patch ?

[2020-03-20 10:15] eric-wieser commented on #1289
Updated the top-matter to group by difficulty, so new contributors don't pick up a hard task by accident.

[2020-03-20 10:16] themperek commented on #1509
Async support: https://cocotb.readthedocs.io/en/latest/coroutines.html#async-generators

Depending on how you start simulator the difference may come from optimization settings (`acc`). I do not know how this works in VCS.

[2020-03-20 10:19] eric-wieser commented on #1509
The patch I'm referring to is gh-1286, which is waiting on gh-1502, which is waiting on gh-1507, which is nearly ready.

[2020-03-20 18:18] #1512 closed

[2020-03-20 18:58] #1499 closed

[2020-03-20 21:03] cmarqu commented on #1509
Good point, the two simulations may use different settings there.
VCS also has some kind of "access learning mode" where it records which hierarchical elements it needs access to, and in a second simulation it can read that information and optimize out unneeded accesses to elements.

[2020-03-20 22:11] marlonjames opened #1522 "Consider changing base class of NonConstantObject"
I don't see why `NonConstantObject` should inherit from `NonHierarchyIndexableObject`. Wouldn't it make more sense for it to be another branch from `NonHierarchyObject`?

See https://cocotb.readthedocs.io/en/latest/library_reference.html#simulation-object-handles for class diagram.

[2020-03-20 22:18] eric-wieser commented on #1522
It's worth thinking about the effect this would have on these lines:

https://github.com/cocotb/cocotb/blob/7c3f44df806184d1b3ccade7b8492bde826dd34e/cocotb/handle.py#L810-L821

Not to say that I've done that thinking yet.

[2020-03-20 23:48] garmin-mjames commented on #126
#1502 new example `matrix_multiplier` is designed to have a `BinaryValue`-heavy performance regression test.

[2020-03-21 20:36] eric-wieser opened #1525 "Investigate using the runtime_library_dirs setuptools argument"
Perhaps worth attempting and debugging a change like...

[code]

_Originally posted by @eric-wieser in https://github.com/cocotb/cocotb/pull/1425_

[2020-03-22 11:56] themperek commented on #1463
@tsengr0916 I close this since no update provided. Please reopen if you still have an issue.

[2020-03-22 11:56] #1463 closed

[2020-03-22 12:09] themperek commented on #1323
@cmarqu Is this still a case?

[2020-03-22 12:13] themperek commented on #1481
@JaewonHur I this situation I close it. Please feel free to reopen if needed.

[2020-03-22 12:13] #1481 closed

[2020-03-22 15:50] cmarqu commented on #1323
It wasn't last time I tried; if there are new such errors, we can open a new issue.

[2020-03-22 15:50] #1323 closed

[2020-03-22 17:45] csantosb opened #1527 "Makefile.ghdl: some improvements"
Hi,

  Running here latest cocotb from git under ArchLinux, doing a vhdl simulation with help of latest ghdl-llvm.

  As you may see

![old](https://user-images.githubusercontent.com/5930297/77255991-b740d000-6c6b-11ea-952d-bf1294337ba4.gif)

running `make` twice, without any source code modification, does `ghdl -i` followed by `ghdl -m`, which is unnecessary, especially when handling hundreds of

[2020-03-22 18:06] eric-wieser commented on #1527
Sounds like the issue is that `analyze` is a phony target, so make is not able to work out when it needs to be rerun.

[2020-03-22 19:07] csantosb commented on #1527
Just checked. Commenting out the PHONY line makes no difference.

[2020-03-22 19:15] eric-wieser commented on #1527
The problem isn't that we've labelled it `.PHONY`, it's that it _is_ phony because it doesn't actually create the target that it says it does.

How did you deduce the name of the `.cf` file that is created? Can we specify it explicitly?

[2020-03-22 20:20] csantosb commented on #1527
As for the `.cf`, [here](https://ghdl.readthedocs.io/en/latest/using/ImplementationOfVHDL.html#library-database) you have the details.

Currently, `--work` stands for `$(RTL_LIBRARY)`. Concerning the `GROUP` (vhdl standard), there is not yet an equivalent variable. Notice how [workdir](https://ghdl.readthedocs.io/en/latest/using/InvokingGHDL.html#cmdoption-ghdl-workdir) equals `$(SIM_BUILD)` too.

[2020-03-22 23:23] eric-wieser opened #1530 "Perform test installation in verbose mode"
need to add to `tox.ini`
[code]

and call `tox -vv`

_Originally posted by @themperek in https://github.com/cocotb/cocotb/pull/1425/files_

[2020-03-23 13:19] ktbarrett opened #1533 "Splitting up test_cocotb"
The test_cocotb module in `/tests/test_cases/test_cocotb/` is currently an assortment of tests to test various features, but it's been kinda of a dumping ground. We also have test projects for testing bugs that are usually tied to issue numbers, and projects for testing various features (like test_iteration_vhdl). So it seems like test_cocotb exists to test the core functionality of cocotb, mainly

[2020-03-23 19:08] garmin-mjames commented on #1533
Are project maintainers opposed to using `pytest` or `unittest` to test some of the `Python`-only code?
For instance I have some local `BinaryValue` unit tests I wrote with `pytest` (`BinaryValue` is so broken...)

[2020-03-23 19:38] eric-wieser commented on #1533
I would be very in favor of adding some `pytest` tests to CI for the python-only code.

[2020-03-24 20:20] ktbarrett commented on #1500
I think I might see what this was for. VPI object lifetimes *should* be tied to Python handles, but they are not. It is possible when referencing the same object more than once that new VPI objects keep getting allocated and never freed. This acts as a cache to prevent that.

[2020-03-24 20:47] eric-wieser commented on #1500
I've some local changes which might be relevent to that end, but they're gated on #1427 being merged.

[2020-03-25 01:34] Alex-Mann opened #1537 "Strange Initialization Behaviour"
Hi there, I am experiencing some very strange initialization behaviour when trying to create a testbench in cocotb.

My toplevel file is a Verilog RTL file, and I'm using Cocotb as the testbench wrapper around that.

All I'm trying to do is initialize a couple of signals and some clocks, but I'm seeing some strange behaviour when running this through my simulator. The initialization code is as fol

[2020-03-25 02:51] ktbarrett commented on #1289
How should we deal with adding type annotations while still supporting 3.5? Many interesting (to us) types aren't available on all version of 3.5, e.g. `Coroutine`.

[2020-03-25 09:29] themperek commented on #711
@ktbarrett This can be closed?

[2020-03-25 13:58] ktbarrett commented on #711
yep

[2020-03-25 14:06] themperek commented on #711
@mciepluc It should work now. In case you have still problems please reopen,

[2020-03-25 14:06] #711 closed

[2020-03-26 01:43] garmin-mjames commented on #1461
You can get the output of exec directly, btw.
Also using **file** commands is platform agnostic:
[code]

[2020-03-26 15:35] gchqdev1729 opened #1539 "Quickstart fails on Centos 7.7"
Following the Quckstart instructions in README.md failed for me. I'm using CentOS 7.7 with Python 3.6.8. I think swig needs to be added to the list of prerequisites for Linux. It also doesn't seem to work with swig 2.0.10 - maybe this is expected?

I would supply a patch to the docs, but I'm uncertain exactly what the dependency should be so that it works on all systems. I only have my CentOS box

[2020-03-26 16:38] themperek commented on #1539
Can you try some other example like adder.
 This particular example is not so easy quick/actually.

@eric-wieser Maybe we should enable hal example only in travis/ci ?

[2020-03-26 17:26] gchqdev1729 commented on #1539
Adder works fine right out of the box.

[2020-03-26 17:46] eric-wieser commented on #1539
@gchqdev1729, does this patch make it fail loudly?
[code]

[2020-03-26 21:47] #1478 closed

[2020-03-27 13:29] ktbarrett commented on #1473
Testing on this showed that killing the currently scheduled coroutine does not work.

[2020-03-27 14:30] gchqdev1729 commented on #1539
Yes, it does. Without swig installed at all:

[code]

Much clearer. I would definitely have spotted that right away. :)

swig 2 vs swig 3 remains a problem, of course, but perhaps I would have known that if I knew more about swig?

[2020-03-27 14:49] themperek commented on #1539
@eric-wieser Should we maybe move to something like pybind11 and setuptools? I can put this on my list.

[2020-03-27 14:52] eric-wieser commented on #1539
Let's just fix the makefile for now. It's only an example, it doesn't really matter how it builds its extension module.

[2020-03-27 16:27] #1031 closed

[2020-03-27 17:01] eric-wieser commented on #1289
@ktbarrett: An easy option would be to add a dependency on the `typing` module from pypy, which backports the newer annotations.

Are you sure we need `Coroutine`? My impression was that on `async` functions it was implied.

[2020-03-27 17:01] eric-wieser commented on #1289
I'd lean towards adding all the easy type annotations first anyway though.

[2020-03-27 18:24] ktbarrett commented on #1289
@eric-wieser I was documenting the interfaces on #1526 when I ran into this, which is why it has no annotations.

[code]

[2020-03-27 18:26] eric-wieser commented on #1289
@ktbarrett: `collections.abc.Coroutine` was added in 3.5: https://docs.python.org/3/library/collections.abc.html#collections.abc.Coroutine

Sure, maybe you can't use `typing.Coroutine`, but it doesn't really matter.

[2020-03-27 18:31] ktbarrett commented on #1289
You're right, we aren't ever going to constrain those instances. But I have a feeling this will be an ongoing problem. We saw the same issue other week with `importlib-resources` (they have since added patch versions to the `typing` documentation :^).

[2020-03-27 19:18] garmin-mjames opened #1541 "Consider fork-like interface that doesn't schedule new coroutine immediately"
Currently when calling `fork`, the new forked coroutine gets to run immediately, and the originating coroutine waits until `fork` returns before continuing. It might be useful to provide a way to queue the forked coroutine to run after the current one yields back to the scheduler.

_Originally posted by @garmin-mjames in https://github.com/cocotb/cocotb/pull/1526#issuecomment-605092873_

[2020-03-27 19:49] eric-wieser commented on #1541
That's how `asyncio.ensure_future` behaves, right?

[2020-03-27 20:30] garmin-mjames commented on #1541
Yes I believe so. From a StackOverflow example:
[code]

[2020-03-28 15:31] Protoplasmoloid opened #1542 "Running the endian example fails"
When I try to run the endian-swapper example, as below, I get:

$ make SIM=ghdl TOPLEVEL_LANG=VHDL
***snip***
     0.00ns INFO     cocotb                                      __init__.py:161  in _initialise_testbench           Seeding Python random module with 1585407922
     **0.00ns CRITICAL cocotb.regression                         regression.py:153  in initialise                      Failed to

[2020-03-28 15:42] eric-wieser commented on #1542
Duplicate of #1539, there's a typo in the makefile. Patch welcome!

[2020-03-28 15:42] #1542 closed

[2020-03-28 16:13] Protoplasmoloid commented on #1539
Thanks Eric for putting me here.
If I run this using WSL+Ubuntu both examples work OK.
If I run them using VBox+Ubuntu (Both 18.04LTS, and with swig3.0.12-1) I get for endian-swapper:
     0.00ns CRITICAL cocotb.regression                         regression.py:153  in initialise                      Failed to import module test_endian_swapper_hal: No module named 'hal'
And for adder:
test -f resul

[2020-03-28 16:17] eric-wieser commented on #1539
@Protoplasmoloid, would you mind submitting a PR with the suggested one-letter makefile change in the linked issue? I'm on mobile so can't fix it right now.

[2020-03-28 16:33] Protoplasmoloid commented on #1539
@eric-wieser Sorry, just a noob here wanting to learn VHDL.  PR=pull request? I get that, but no idea about your request. Sorry again!

[2020-03-28 18:43] ktbarrett commented on #1541
What's the use case for this?

As mentioned in #1526, this can be implemented by adding coroutines to the scheduler using `scheduler.queue`. Which seems trivial until you realize there are other problems.

We don't really have a way to force a reschedule. `NullTrigger` fires immediately, not allowing any other coroutines to run. `Timer(0)` unnecessarily creates a GPI call and leaves behavior up to

[2020-03-29 09:44] eric-wieser commented on #1539
@Protoplasmoloid: can you try again with the latest master?

[2020-03-29 10:22] cmarqu commented on #1539
There actually was something reported/fixed for Questa in #897 that looks related.
@gchqdev1729, @Protoplasmoloid - are you using Questa?

[2020-03-29 10:30] cmarqu commented on #1506
Let's leave this open until we have a pull request that sets ``SHELL`` for all simulators.
Unfortunately, doing this in ``Makefile.sim`` breaks things for me in a weird way... I'm still investigating.

[2020-03-29 10:57] cmarqu commented on #1506
This turned out to be a bug in the makefiles for the Cadence simulators.

[2020-03-29 11:13] #1506 closed

[2020-03-29 13:07] Protoplasmoloid commented on #1539
I am not using Questa, just GHDL. Did pull from Master as you asked...
Now for Ububtu18.04+WSL I get for endian-swapper and adder:

$ make SIM=ghdl TOPLEVEL_LANG=vhdl
make: cocotb-config: Command not found
Makefile:66: /Makefile.inc: No such file or directory
make: cocotb-config: Command not found
Makefile:67: /Makefile.sim: No such file or directory
make: *** No rule to make target '/Makefile.sim

[2020-03-29 21:43] cmarqu commented on #1539
I have no idea about the WSL setup (I suggest opening a new issue), but for your other setup:

It seems like the Makefile for GHDL doesn't respect ``CUSTOM_COMPILE_DEPS``.
Untested: you could change line 60 in ``cocotb/share/makefiles/simulators/Makefile.ghdl`` so that it looks as follows:
[code]

Currently, it is just
https://github.com/cocotb/cocotb/blob/9c3773580ab52c6e72a88d718b3742c99b11530e/

[2020-03-30 09:07] Protoplasmoloid commented on #1539
@cmarqu .  Thank you, updated Makefile, now get:
     0.00ns CRITICAL cocotb.regression                         regression.py:153  in initialise                      Failed to import module test_endian_swapper_hal: /home/git/cocotb/examples/endian_swapper/tests/../cosim/io_module.so: undefined symbol: PyInt_AsLong

I am using python3.8-dev.

[2020-03-30 09:27] eric-wieser commented on #1539
That looks like you built `io_module.so` with python 2, then tried to import it with python 3.8. Perhaps `make clean` and rebuilding will fix that.

[2020-03-30 09:32] Protoplasmoloid commented on #1539
You are quite right, I didn't think to do make clean in the endian-swapper, works fine now. Thank you.

[2020-03-30 09:34] eric-wieser commented on #1539
@themperek, swapping the build of `io_module.so` to work through setuptools would give a unique name containing the python version number, which would avoid that problem. Not high priority though.

[2020-03-30 12:22] eric-wieser opened #1547 "Consider using a stricter flake8 configuration"
Opening this to track a todo in the source

https://github.com/cocotb/cocotb/blob/244ae8f3c903e7f90953d1deae83687e1d622af0/setup.cfg#L10-L34

This list of ignores was populated based on what was already violated, not based on any strong opinions about what was right.

Looking at these, the obvious ones to fix easily are E302, E303, and E305.

This would address #6

---

The process here should be:

[2020-03-30 12:22] eric-wieser commented on #879
A middle ground would be #1547

[2020-03-30 12:37] eric-wieser commented on #879
There's some existing discussion against doing this starting here: https://github.com/cocotb/cocotb/pull/1239#issuecomment-565969287

[2020-03-30 14:58] thasti opened #1548 "Some escaped identifiers containing '.' are not accessible from cocotb"
Verilog's escaped identifiers can start with a backslash and then contain any printable ASCII character, while ending with a space. Such identifiers are often found in netlists, for example after unrolling a generate loop.

In the following simple example:
[code]
Only the last of these three definitons is accessible.

Even after doing `dut._discover_all()`, `dut._sub_handles` contains only one ele

[2020-03-30 15:03] ktbarrett commented on #1547
Should this also include cleaning up the lines where `noqa` is used to suppress those warnings? For example, it's used to prevent complaining when aligning code, which is mostly aesthetic.

[2020-03-30 16:14] eric-wieser commented on #1547
`noqa` is usually a deliberate choice, much of the contents of the flake8 configuration is accidental - so I don't think this issue needs to cover `noqa` cleanup, nor do I think it's a problem if the resolution is to remove some ignores at the expense of (very few) `# noqa`s.

[2020-03-30 16:54] nevsan commented on #879
Our organization uses a tool we developed called [fourmat](https://github.com/4Catalyzer/fourmat) to combine `black`, `flake8`, and `isort`. It is stable enough to enforce in CI and pretty much everyone is happy with the appearance of the results. Regardless of using that tool or not, it is valuable to have a "one liner" to address all of the style issues and make it as easy as possible to "onboar

[2020-03-30 17:38] cmarqu opened #1549 "Support CUSTOM_COMPILE_DEPS and CUSTOM_SIM_DEPS for ghdl"
We are missing support for ``CUSTOM_COMPILE_DEPS`` and ``CUSTOM_SIM_DEPS`` in ``Makefile.ghdl``.
See https://github.com/cocotb/cocotb/issues/1539#issuecomment-605706516.

[2020-03-30 21:01] ktbarrett opened #1550 "Normalize and improve type checking and support where coroutines are expected"
There are many places that currently expect coroutines:

- `First`, `Combine`, `with_timeout`
- `yield` statements in old-style coroutines
- `fork`

All these places should be able to accept async def `coroutine`s, or `RunningTask`s, and much like `fork` do type checking. `First`, `Combine` and `with_timeout` don't currently accept `coroutine`s, and everything in the list has slightly different ty

[2020-03-31 08:59] gchqdev1729 commented on #1539
Sorry for the silence... I mainly use Modelsim, but in this case I'm just on open source tools.

[2020-03-31 10:47] csantosb commented on #330
Same here, using latest ghdl / cocotb

    make SIM=ghdl TOPLEVEL_LANG=vhdl

gives

    sample_module contains no object named inout_if

[2020-03-31 17:19] zeinab-adel commented on #789
Hi marlonjames,
Could you explane more when vhpiCbRepNextTimeStep exactly registered and triggered ?
Is it affected by value change, process triggering, .. ?

[2020-03-31 18:13] marlonjames commented on #789
The callback is registered any time cocotb primes the `NextTimeStep()` Trigger. This can happen in a test, or under certain conditions in the `Scheduler`.

It is triggered at the beginning of the next time step. The next time step (Tn) is determined as shown above. Any signal change, process resuming, or a `Timer()` Trigger fires.

If cocotb is the only source of stimulus, waiting on a `NextTimeSt

[2020-03-31 21:54] cmarqu opened #1552 "Document that users should use EXTRA_ARGS=... make instead of make EXTRA_ARGS=..."
When we tell users to use ``SIM_ARGS`` or ``EXTRA_ARGS`` etc. to add their options and expect that this works for them on the command line like make ``SIM_ARGS=-whatever``, we cannot append to these variables in our ``Makefile.<simulator>``, because only the variable values given on the command line would be set (https://stackoverflow.com/a/32696474).

This will be relevant for the documentation p

[2020-04-02 16:36] eric-wieser commented on #1552
Isn't the solution here to teach users to use `EXTRA_ARGS=... make` instead of `make EXTRA_ARGS=...`?

[2020-04-02 20:06] cmarqu commented on #1552
Indeed it is (see also https://github.com/cocotb/cocotb/pull/1553#issuecomment-608074148 for reference).

I would have like to get around this because setting the environment variable is a shell-dependent, and thus a bit more complicated to document (e.g. fish and csh users need to use ``env EXTRA_ARGS=...``).

[2020-04-02 20:36] ktbarrett commented on #1541
I'll amend this "What's the use case for supporting both behaviors?" I wouldn't be against changing the behavior of `fork`, but that would probably have to wait for a major version change.

[2020-04-03 22:12] cmarqu opened #1559 "Add Icarus timescale workaround to docs"
Mention in
https://cocotb.readthedocs.io/en/latest/simulator_support.html#time-unit-and-precision
that you need to set `` `timescale`` in a file (which can be included).

[2020-04-04 05:05] #1181 closed

[2020-04-04 06:56] stuarthodgson commented on #1391
A runtime switch to deal with IUS redefining a fundemental type in the VPI interface would seem expensive.

[2020-04-04 07:53] eric-wieser commented on #1391
Agreed, I don't think the benefit outweighs the cost here

[2020-04-04 16:38] themperek opened #1561 "Add a note what to do in case missing cocotb-config after installation"
In case `cocotb-config : command not found...` suggest adding `PATH`.

With pip 20.0.2 there is a big warning when using `pip install --user`:
[code]

From https://github.com/cocotb/cocotb/pull/1445#issuecomment-609051032

[2020-04-04 20:03] cmarqu commented on #1539
@Protoplasmoloid Did it also fix your WSL+Ubuntu problem?

[2020-04-04 20:47] themperek opened #1566 "Remove COCOTB_SIM environmental variable"
Since https://github.com/cocotb/cocotb/pull/1425 it should not be needed

[2020-04-05 02:03] minecraft2048 opened #1567 "Verilator can do wave dump but the documentation doesn't mention that"
In documentation at https://cocotb.readthedocs.io/en/latest/building.html#var-WAVES it says that the `WAVES` make variable can be enabled to enable vcd export for  Aldec Riviera-PRO and Mentor Graphics Questa simulators, but it doesn't mention Verilator and it says it doesn't work for iverilog. But when I googled cocotb verilator I found this: https://antmicro.com/blog/2019/06/verilog-with-cocotb-

[2020-04-05 09:45] eric-wieser opened #1569 "Installation does not work on readthedocs"
If I check this checkbox:

![image](https://user-images.githubusercontent.com/425260/78471617-75fbf600-772a-11ea-9ce3-c0fb076e7b3a.png)

Then the build fails with:
[code]

I'm a little worried this represents a regression WRT #1183. @tymonx, would you be able to test that master still works for your use-case?

---

I've turned this change back off for now, but it's required for #1568

[2020-04-05 10:38] themperek commented on #1569
I think we are following #1183. Is this python compiled with "--enable-shared"?

[2020-04-05 10:39] eric-wieser commented on #1569
I think you're right that it isn't compiled with `--enable-shared`. Wasn't the purpose of #1183 to make it work in that case though?

[2020-04-05 10:42] themperek commented on #1569
I am not sure but as I understand it was to fix if you have both.

[2020-04-05 10:46] eric-wieser commented on #1569
If you have both `--enable-shared` and what?

[2020-04-05 10:50] themperek commented on #1569
Maybe check what `python -c "import sysconfig;print(sysconfig.get_config_vars())"` gives?

[2020-04-05 10:52] themperek commented on #1569
Static and dynamic?

[2020-04-05 10:54] eric-wieser commented on #1569
Good thinking, done here: https://readthedocs.org/projects/cocotb/builds/10770164/

[2020-04-05 11:35] eric-wieser commented on #1569
Likely relevant: https://stackoverflow.com/questions/46469587/readthedocs-sphinx-build-failing-but-working-locally

[2020-04-05 12:08] eric-wieser commented on #1569
Looking more closely, it seems the `libpython.so` file is simply absent from readthedocs.

[2020-04-05 13:06] Protoplasmoloid commented on #1539
@cmarqu For some reason the Ubuntu+WSL always did work (and initially with Python2, before I did a pull), just the vanilla Ubuntu in VBox didn't, both 18.04LTS. Oh, and both Python3. Thank you.

[2020-04-05 15:30] ktbarrett opened #1575 "Moving extension code to in-repo packages"
#862, #863, and #864 talk about splitting certain interfaces off into extensions. #1345 concerns hosting an extension "officially" within the org. There has been no movement on any of them because it is a lot of work and/or responsibility. For now what we can do is start moving that code out into extensions, but keep those extensions in-repo. That way we have shared responsibility, but the code is

[2020-04-05 16:38] ktbarrett commented on #1289
Move to format string language instead of using old modulus string formatting.

[2020-04-05 16:41] ktbarrett commented on #1289
I don't know if this is really a Python 2 cleanup issue, but use `type(self)` instead of `self.__class__`.

[2020-04-05 16:42] eric-wieser commented on #1289
Strictly neither that nor the `.format` calls are python 2 cleanup.

[2020-04-05 16:45] ktbarrett commented on #1289
Did they renege on the removal of the modulus syntax in Python 3? I thought it was deprecated and "to be removed"?

[2020-04-05 16:54] eric-wieser commented on #1289
@ktbarrett: Pretty sure they did, especially since `b'{}'.format(1)` is an `AttributeError`, but `b"%d" % 1` isn't.

[2020-04-05 16:58] eric-wieser commented on #1289
I take it back, `type(x)` _is_ a python 2 cleanup, since it didn't work correctly on old-style classes.

[2020-04-05 21:22] cmarqu opened #1580 ""Running tests with cocotb ... from Unknown""
In e.g. https://asciinema.org/a/316949, we can see the line
[code]

@themperek suggested using ``__file__`` in https://github.com/cocotb/cocotb/blob/09effc69f914820d4aa50217b9fad6ba29c4248f/cocotb/__init__.py#L139-L144 instead of ``export``ing ``COCOTB_PY_DIR`` in https://github.com/cocotb/cocotb/blob/67bf79b997b630416b1f98742fbeab09d9e90fef/cocotb/share/makefiles/Makefile.inc#L33

[2020-04-05 21:29] eric-wieser commented on #1580
How did it end up as unknown in the first place? Is that variable just not used any more?

[2020-04-05 21:33] themperek commented on #1580
@eric-wieser https://github.com/cocotb/cocotb/pull/1445

Should add `export` or use`__file__` ?

[2020-04-05 21:40] eric-wieser commented on #1580
Using `__file__` sounds like a good idea to me. Hadn't noticed the lack of `export`.

[2020-04-05 22:06] #1580 closed

[2020-04-05 22:53] ktbarrett commented on #1533
So far I am thinking splitting the tests along these lines:
* deprecation checking (makes a good spot to know all the code we have deprecated)
* async generators (don't work in 3.5 so they have to be split off)
* generator-based coroutines
* async coroutines
  * tests for valid coroutine checking
  * tests for coroutine behavior (propagating exceptions, killing, etc)
  * tests for concurrency
* Py

[2020-04-06 07:25] #1561 closed

[2020-04-06 08:44] eric-wieser opened #1582 "Add type annotations for user-facing code"
Now that Python 3.5 is our minimum supported version, we should consider adding type annotations to public methods and functions.

Split from #1289 since this is more of an enhancement than a cleanup.

[2020-04-06 09:40] eric-wieser commented on #1446
Note that removing the dependency between `libgpi` and `embed.cpp` would allow us to fix #1569.

[2020-04-06 10:35] eric-wieser opened #1585 "Remove support for cross-compilation in the endian example"
We have some weird code here that seemingly tries to support building 32-bit extension modules with 64-bit python, if the user overrides the `ARCH` variable:

https://github.com/cocotb/cocotb/blob/688d391376eda47446d8f949d9e62f8ca93d51b0/cocotb/share/makefiles/Makefile.pylib#L34-L35

https://github.com/cocotb/cocotb/blob/688d391376eda47446d8f949d9e62f8ca93d51b0/cocotb/share/makefiles/Makefile.pyli

[2020-04-06 10:51] themperek commented on #1585
I am for it. In any case, it may not be so easy and not sure that those lines will help (rather more confusion).

It can be moved to the endian example worst case.

[2020-04-06 11:01] eric-wieser commented on #1585
Or perhaps also in the best case. After removing these workaround, there are only two interesting lines left in the makefile:

https://github.com/cocotb/cocotb/blob/688d391376eda47446d8f949d9e62f8ca93d51b0/cocotb/share/makefiles/Makefile.pylib.Linux#L32

https://github.com/cocotb/cocotb/blob/688d391376eda47446d8f949d9e62f8ca93d51b0/cocotb/share/makefiles/Makefile.pylib.Linux#L40

These could easil

[2020-04-06 13:31] ktbarrett commented on #1446
My plan involves a pretty large refactor of the GPI:

* Move product and version info from `embed_sim_init` call to getters in simulator module. The idea is to make `embed_sim_init` look more like `main`. This also lift responsibility out of C into Python.
  * gpi_get_sim_product
  * gpi_get_sim_version
* Merge parts of gpi_log into gpi and others into simulatormodule. Provide an interface on the

[2020-04-06 14:05] eric-wieser commented on #119
A note on wierdness: Our use of `__le__` means that we inadvertently support
[code]
as a spelling of
[code]

[2020-04-06 14:27] ktbarrett commented on #119
I've mentioned [this](https://github.com/RyanKung/assign) before. Because we start the user, we can easily enforce it's loading.

[code]

[2020-04-06 18:27] ktbarrett commented on #1566
I am fine with removing this as an environment variable, however I'd like some way for a user to know if they operating in a valid cocotb context or not. If `simulator` can be loaded unconditionally, perhaps we can put a function there to disambiguate (`running` property)? Or maybe the function that I will soon add that gets the product and version strings could return "nosim" if no simulator is r

[2020-04-07 02:21] ktbarrett opened #1591 "Problems with MODULE"
If the `MODULE` env variable is not set cocotb fails hard by raising (an `ImportError` of all things...) in the startup routine. It seems to me it should just run and exit with no failure because there are no tests to run.

`MODULE` might also accidentally contain trailing or leading separators, this isn't handled, and tests show it fails in an ugly way. `HOOKS`, whose usefulness is debatable, suf

[2020-04-07 02:25] ktbarrett commented on #1591
We should also have a tests that ensures things still work when we have `MODULE`, but don't have any tests.

[2020-04-07 02:59] ktbarrett commented on #1591
Also, if the elements are not stripped it could fail. It would be easy enough to add.

[2020-04-07 03:41] ktbarrett opened #1593 "Catch unstarted async coroutines where coroutines can be accepted"
In `fork` we catch and provide an error message if the user passes a `cocotb.coroutine` object they did not call, we should do the same for `async` coroutines that weren't called. This is as simple as `inspect.iscoroutinefunction()` (I checked, it is available in 3.5).

I'll add this in with #1550.

[2020-04-07 07:02] eric-wieser commented on #1591
I don't agree, if it's not set I then I think we should fail. The behavior you describe seems appropriate if it's deliberately set to an empty string though.

[2020-04-07 07:40] eric-wieser commented on #1591
This sounds like a good idea to me

[2020-04-07 08:49] imphil commented on #1591
@ktbarrett can you outline your use case for "MODULE" being emtpy, and the reason why this should not be an error? From a usability perspective I think an error message about a missing/empty MODULE variable with a hint why cocotb doesn't run anything?

[2020-04-07 12:04] #1064 closed

[2020-04-07 12:31] ktbarrett commented on #1591
I think most people consider the current behavior as odd. Imagine if pytest ran no tests because there were none specified or found and it failed hard?

Specifying test modules according to conditions is not an unreasonable use case. And you may end up with a set of conditions that lead to not tests being run.

[2020-04-07 12:33] ktbarrett commented on #1591
Whoops, using a phone sucks.

We can meet in the middle and turn that error into a warning level log.

[2020-04-07 12:42] ktbarrett commented on #1591
I guess I missed Eric's concern. What exists now does not support an empty, but existant, `MODULE`. That may also be a good middle ground.

So error if not set, warn if empty, but pass?

[2020-04-07 12:46] eric-wieser commented on #1591
That sounds sensible to me.

[2020-04-07 12:46] eric-wieser commented on #1591
Pytest _does_ do this!

[2020-04-07 12:53] ktbarrett commented on #1591
@eric-wieser It warns, not errors. But the error code is non-0 so you could consider it a failure.

[2020-04-07 13:01] eric-wieser commented on #1591
Indeed, that was the point I was making.

[2020-04-07 13:49] imphil commented on #1591
Following pytest is generally a good thing, so let's do that. Warn + non-zero, but distinguishable exit code (5 in pytest's case). And please document that.

For everyone else following along: that's what pytest shows:

[code]

https://docs.pytest.org/en/latest/usage.html#possible-exit-codes

[2020-04-07 13:52] eric-wieser commented on #1591
@imphil: cocotb doesn't have control of the exit code.

At any rate, passing `MODULE=""` should be treated the same as passing `MODULE="file_with_no_tests"`, which I think today is to pass.

[2020-04-07 13:56] ktbarrett commented on #1591
@eric-wieser No, right now the behavior is fail hard and don't make a result.xml if fed the empty string. `''` in Python is `False`.

https://github.com/cocotb/cocotb/blob/afeb587cd239ad955860555a30f0f5add95f14bf/cocotb/__init__.py#L172-L174

[2020-04-07 13:58] imphil commented on #1591
Ah yes indeed.

So that leaves us with these options?

1. MODULE not set: ERROR (did we agree on that?)
2. MODULE set, but resolving (somehow) into a empty list of tests:
	a. WARN with non-zero exit code
    b. WARN with zero exit code
    c. ERROR

[2020-04-07 14:05] eric-wieser commented on #1591
To be clear, my claim above is that today, `MODULE="file_with_no_tests"` passes with no warnings and emits an empty results.xml.

I think the thing to do is:

* Module not set: Error (like we do today, but with a clearer message)
* Tests resolve to an empty list: Emit `results.xml` as normal, print a warning.

[2020-04-07 14:15] mballance opened #1597 "Support for regression-process listener"
I'm working on a randomization and functional coverage extension package, and I'd like to receive a callback when a regression ends so I can capture the regression status, simulation time, etc and write it to a coverage database.
In other unit-test frameworks (specifically googletest), I can add a listener to is notified when a test suite starts, when each test starts, when each test ends (and its

[2020-04-07 14:19] ktbarrett commented on #1591
Currently an unset `MODULE` is impossible in Icarus and probably most other simulators.

https://github.com/cocotb/cocotb/blob/afeb587cd239ad955860555a30f0f5add95f14bf/cocotb/share/makefiles/simulators/Makefile.icarus#L66-L68

[2020-04-07 15:43] themperek opened #1600 "Set/use $(ARCH) based python binary version not system in the Makefiles"
See: https://stackoverflow.com/questions/2208828/detect-64bit-os-windows-in-python

[2020-04-07 15:47] eric-wieser commented on #1600
Do we even need `ARCH`?

[2020-04-07 16:48] pstrueb opened #1601 "Compatibility with Aldec Active-HDL on Windows"
Dear cocotb community,

I'm new to cocotb and trying to get the endian_swapper exampl running.
My setup is:
- Win10
- Aldec Active-HDL9.3
- Miniconda with Python 3.7

What I did so far:
1. 1. Installed msys: conda install -c msys2 m2-base m2-make libpython m2w64-toolchain
2. 2. Install the development version of cocotb :
3. - git clone https://github.com/cocotb/cocotb
4. - pip install -e ./cocotb

[2020-04-07 17:03] eric-wieser commented on #1601
Does `C:/temp/cocotb/cocotb/libs/libcocotbvhpi_aldec.dll` exist?

[2020-04-07 17:23] themperek commented on #1601
I can only test Riviera so you have to help to figure this out.
What version (32/64) you have of  Active-HDL9.3 and python?

[2020-04-07 17:49] eric-wieser opened #1602 "1063 news fragment needs updating with other simulator names"
The newsfragment says that only questa has been affected, but new PRs have appeared to fix the other simulators too.

https://github.com/cocotb/cocotb/blob/master/documentation/source/newsfragments/1063.change.rst

We can do this once they all are merged, and should probably use `:issue:` markup inline for each one.

[2020-04-07 18:36] themperek commented on #1600
Like here: https://github.com/cocotb/cocotb/blob/master/cocotb/share/makefiles/simulators/Makefile.questa#L119

So if one has 32bit python on 64bit system it will fail.

[2020-04-07 20:46] eric-wieser opened #1603 "Breathe needs pinning in CI"
https://readthedocs.org/projects/cocotb/builds/10787038/

Since we have Sphinx pinned to <3.0.0, we need to pin breathe too:
[code]

[2020-04-07 21:19] eric-wieser commented on #1603
From the build logs:

ERROR: breathe 4.15.0 has requirement Sphinx>=3.0, but you'll have sphinx 2.4.4 which is incompatible.

[2020-04-08 00:10] ktbarrett opened #1604 "Move the concept of tests out of the scheduler"
Spun off from #1499.

`RunningTest` duplicates all the information available on `test`. This duplication is only necessary because of way that tests are used by the regression manager. The test-specific bits in the scheduler follow from the same poor design choice in the regression manager.

The regression manager currently:
 * gathers tests
 * during initialization starts all the tests (calls the

[2020-04-08 00:19] ktbarrett commented on #1604
One more "feature" I'd like to take into account in the refactor is black-boxing test discovery, so we can experiment with a more pytest-like test discovery in the future.

[2020-04-08 01:52] themperek commented on #1601
@pstrueb Do you have `mingw` directory in the installation?  Can you rename/remove it? Do you have other mingw/gcc/msys installed and in the `PATH`?

[2020-04-08 02:21] ktbarrett opened #1605 "'public' decorator?"
It's only used by the decorators module and the generators module (at risk in #1493).

Alternatively, should we be using it more?

[2020-04-08 06:55] pstrueb commented on #1601
I checked and yes, the .dll exists.

I have the 64 bit Version of python. As far as I see it, Active-HDL is a 32 bit application.

I checked my path and no other mingw/gcc/msys is there.  I also renamed the MINGW folder in Aldec\Active-HDL9.3. I had a MINGW folder directly located at C:\ which I also renamed but the outcome is still the same

[2020-04-08 07:00] themperek commented on #1601
Do you use 32bit python/conda? example setup: https://github.com/cocotb/cocotb/wiki/Tier-2-Setup-Instructions#conda-based-installation-all-os

[2020-04-08 07:18] eric-wieser commented on #1601
Is that `@` a typo? @themperek, does your version of aldec work without the `@`?

[2020-04-08 07:20] pstrueb commented on #1601
I use 64 bit python/conda. Is it mandatory to use a 32 bit version ? I used
`conda install -c msys2 m2-base m2-make libpython m2w64-toolchain`
for installing msys.

[2020-04-08 07:21] eric-wieser commented on #1601
It's not possible to use 64-bit python from within a 32-bit simulator

[2020-04-08 07:23] pstrueb commented on #1601
Okay I will try then again with a 32bit version of python.

[2020-04-08 08:01] themperek commented on #1601
It works in Riviera.

[2020-04-08 08:08] eric-wieser commented on #1601
Both with and without the `@`? If so, let's remove it - I don't see any evidence of it being legal TCL syntax.

[2020-04-08 08:38] #1603 closed

[2020-04-08 08:45] eric-wieser commented on #1603
Note that the caching of the RTD PR builds is going to bite us here for a few days

[2020-04-08 09:19] themperek commented on #1601
Yes. Both. In case `@` seems to be just ignored.

I am not sure if not remove those `LICENSE_QUEUE` lines. This is user depend not sure if we should set anything here.

[2020-04-08 10:03] pstrueb commented on #1601
I not set up a 32 bit python environment inside conda with
[code]

After installing the development version again with pip, removing the `LICENSE_QUEUE` lines and adding the "", the vhpi libary loading error is gone.
Instead Im getting

[code]

[2020-04-08 10:07] eric-wieser commented on #1601
Which commit of cocotb are you running? There was a very recent change to the aldec makefiles that corrected a regression with symptoms similar to that.

Can you paste the commit sha1 hash?

[2020-04-08 10:19] pstrueb commented on #1601
Im on `commit 4c99ef423bf7b1fd815333e62c18043ebe311b8d`

[2020-04-08 10:26] eric-wieser commented on #1601
Hmm, that's interesting. To help debug, could you edit `cocotb/__init__.py` in your installation, and make the following change:

[code]
and show the result?

[2020-04-08 10:49] pstrueb commented on #1601
Yes, I can try helping to debug.
After I made the changes suggested by you, the outcome is
[code]

[2020-04-08 10:52] eric-wieser commented on #1601
It sounds like you put my change in the wrong place, and added the context (gray) lines. You should have removed the red line, and added the green line.

[2020-04-08 11:01] pstrueb commented on #1601
Yes you are right. The thing is that the line I should replace is
[code]

if i replace this with
[code]
Im getting `UnboundLocalError: local variable 'exec_path' referenced before assignment` again which is understandable since exec_path is not declared.

[2020-04-08 11:04] eric-wieser commented on #1601
Oh, looks like my version is out of date, apologies.

That last line should be `(__version__, os.path.dirname(__file__), os.getcwd()))`.

[2020-04-08 11:32] pstrueb commented on #1601
Okay, that was some confusion but now its clear 👍
The output now is
[code]

[2020-04-08 11:35] eric-wieser commented on #1601
Thanks, that confirms my suspicion. Despite #1598, it seems that your cwd is `  C:\temp\cocotb32\examples\endian_swapper\tests\sim_build` instead of ` C:\temp\cocotb32\examples\endian_swapper\tests`.

[2020-04-08 11:38] eric-wieser commented on #1601
Can you show the full output including the makefile commands?

[2020-04-08 11:40] pstrueb commented on #1601
Yes, sure:
[code]

[2020-04-08 11:46] eric-wieser commented on #1601
Your https://github.com/cocotb/cocotb/blob/master/cocotb/share/makefiles/simulators/Makefile.aldec file is not updated from master. You need to merge your local changes with our changes.

[2020-04-08 12:04] pstrueb commented on #1601
Yes you were right. I merged the changes and now I get:
[code]
It appears to me that vsimsa has problems setting the working directory outside the current pwd somehow

[2020-04-08 12:07] themperek commented on #1601
Can you try to change at set work to be in PWD? It just creates a bit os "mess" in PWD but ...

[2020-04-08 12:16] pstrueb commented on #1601
Okay, I changed sim_build/runsim.tcl
[code]
(py37_32) C:\temp\cocotb32\examples\endian_swapper\tests>make SIM=aldec TOPLEVEL_LANG=vhdl
make results.xml
make[1]: Entering directory '/c/temp/cocotb32/examples/endian_swapper/tests'
set -o pipefail; GPI_EXTRA= TOPLEVEL_LANG=vhdl \
 MODULE=test_endian_swapper TESTCASE= TOPLEVEL=endian_swapper_vhdl COCOTB_SIM=1 /c/Aldec/Active-HDL9.3/BIN/vsimsa  -do sim

[2020-04-08 12:22] themperek commented on #1601
So this is not bad. Can you some better (less fancy) example like `adder` ?

[2020-04-08 12:28] pstrueb commented on #1601
I tried the adder and after again manually modifying the .tcl file for setting the work lib this is the outcome:
[code]

[2020-04-08 12:30] themperek commented on #1601
I think I have seen the same with VHDL. If you could try Verilog also.

[2020-04-08 12:32] themperek commented on #1601
In conclusion:

- remove or correct LICENSE settings
- use `pwd` for `work` library

[2020-04-08 12:40] pstrueb commented on #1601
Unfortunately I only have the VHDL licence, sorry!

+ add quotation marks to
[code]
And use 32 bit python for a 32 bit simulator is only part of the story I would say.
how would I to change Makefile.aldec to use the pwd as work library?

And thanks for helping me debug!

[2020-04-08 12:58] themperek commented on #1601
@pstrueb You are welcome to contribute a patch ;-)

[2020-04-08 13:08] #1591 closed

[2020-04-08 13:13] pstrueb commented on #1601
Alright, I will have a look into it. Should I also modify the wiki entry in
https://github.com/cocotb/cocotb/wiki/Tier-2-Setup-Instructions#conda-based-installation-all-os
to have a solution if you run a 32bit simulator and have conda in 64 bit already installed?

[2020-04-08 13:15] themperek commented on #1601
This is exactly what is here: https://github.com/cocotb/cocotb/wiki/Tier-2-Setup-Instructions#conda-based-installation-all-os

[2020-04-08 13:23] pstrueb commented on #1601
You are right, now I get it, too!

[2020-04-08 13:23] #1601 closed

[2020-04-08 17:20] eric-wieser commented on #1548
Do any log messages appear when starting the simulation?

[2020-04-08 17:25] thasti commented on #1548
No log messages appear (verified against current master). I did some superficial digging and found this: https://github.com/cocotb/cocotb/blob/master/cocotb/handle.py#L215 as a potential origin of the problem.

[2020-04-08 17:30] eric-wieser commented on #1548
Yeah, I just found that too. Made a draft patch, but don't have the time to put together a test case.

[2020-04-08 18:26] themperek opened #1611 "Unexpected behavior with simple dff example"
From: https://github.com/cocotb/cocotb/pull/1529#pullrequestreview-387867775

[code]

[code]

[2020-04-08 18:27] #1448 closed

[2020-04-08 19:11] ktbarrett commented on #1611
I'm not a fan of `FallingEdge` here, so I rewrote it slightly.

[code]

I haven't tried it, but I feel like (based on experience) Questa using the FLI wouldn't need that statement to work.

[2020-04-08 19:20] Martoni commented on #1567
we can use [EXTRA_ARGS with --trace option.](https://github.com/cocotb/cocotb/pull/1607)
But If WAVES be supported it be best yes :)

[2020-04-08 21:14] cmarqu commented on #1567
Actually, we plan to deprecate such simulator-specific variables and replace them with documentation on how to get the same effect.
Regarding ``WAVES``, I'm still undecided whether it should get the same treatment. Personally, I find at least the name misleading, and it's not clear what to do if not all signals should be dumped, or how to specify at what hierarchy level(s), or at what simulation t

[2020-04-09 05:35] themperek commented on #1495
Also all `V*_ARG` and `A*_LOG`?

[2020-04-09 07:20] themperek opened #1613 "Restructure Makefiles"
We did quite a bit of cleaning of Makefiles (still more to come).
One intention is to make it as simple as possible and move every specific configuration to the user https://github.com/cocotb/cocotb/issues/1495.

Some more initial ideas for restructuring the Makefiles system:

- Drop `Makefile.inc` so the user need include only one `Makefile.sim` (no need for 2)

- Allow easier custom Makefile flo

[2020-04-09 13:58] eric-wieser commented on #1081
Tried to make a start on this, but I can't work out how to set the hook:

https://gitter.im/ipython/ipython?at=5e8f21e09316f34b8d8ebed3

[2020-04-09 14:58] eric-wieser commented on #728
@imphil: can this be closed?

[2020-04-09 15:12] imphil commented on #728
I'm pretty sure it can. Thanks.

[2020-04-09 15:12] #728 closed

[2020-04-09 15:26] eric-wieser commented on #1374
As an update, I think item 4 on your list is done, and item 5 is rejected as by design. That leaves:

* Make ALL source files C++ files (aka, remove the C gpi interface and use only the C++ one)
* Update the GPI to use std::string to handle embedded NULs
* Update all the interfaces to handle embedded NULs (simulators may not support this anyway)

[2020-04-09 15:27] eric-wieser commented on #1539
I'm going to close this, I think we fixed all the issues that we diagnosed. If you still have problems on master, please open a new issue!

Thanks for working through this with us, @gchqdev1729 and @Protoplasmoloid.

[2020-04-09 15:27] #1539 closed

[2020-04-09 15:31] eric-wieser commented on #1460
So to be clear, the request is just to make the indentation clearer here:

https://github.com/cocotb/cocotb/blob/2d11eeac80e97f2f356662b029228690dfc990d5/cocotb/share/makefiles/simulators/Makefile.aldec#L84-L105

Note that it's very important to use spaces and not tabs for this type of indent, else the makefile will do the wrong thing.

[2020-04-09 15:45] eric-wieser opened #1616 "Produce a clearer installation error if python was not compiled with --enable-shared"
I don't know the best way to detect this, but it would probably be helpful to users.

[2020-04-09 15:45] eric-wieser commented on #1308
This is definitely an `--enable-shared` issue. Opening #1616 to track producing a better error message.

Python 2.7 is no longer supported.

[2020-04-09 15:45] #1308 closed

[2020-04-09 15:46] eric-wieser commented on #1451
I think this is fixed, please open a new issue if you disagree.

[2020-04-09 15:46] #1451 closed

[2020-04-09 15:47] eric-wieser commented on #1330
Is there anything left to be done here? I'm not sure if we build with clang yet, but we do build everything but FLI in CI now.

Please close if you think there's nothing left to do.

[2020-04-09 15:51] eric-wieser commented on #472
Closed via #657, I think

[2020-04-09 15:51] #472 closed

[2020-04-09 15:52] eric-wieser commented on #441
@themperek, any idea if this still applies? Do we need to worry about libc++ version mismatches?

[2020-04-09 15:54] eric-wieser commented on #233
Looks like this was closed in #234

[2020-04-09 15:54] #233 closed

[2020-04-09 15:55] eric-wieser commented on #396
@themperek, I assume this can be closed?

[2020-04-09 15:56] themperek commented on #441
@eric-wieser No idea.

[2020-04-09 15:57] themperek commented on #441
Since all this is different now I propose to close this. If problem persist needs a way to reproduce to try to solve this.

[2020-04-09 15:58] #498 closed

[2020-04-09 15:58] #436 closed

[2020-04-09 15:58] #428 closed

[2020-04-09 15:59] #354 closed

[2020-04-09 16:23] ktbarrett commented on #472
@eric-wieser `Drive` does not have support yet. It can be supported on Questa using the FLI. I can file another issue specifically about `Drive` if you want to keep this closed.

[2020-04-09 16:25] yannickl96 opened #1617 "Getting rid of None in an option of TestFactory"
Hello everyone,

I did not find this in the documentation, so maybe you can push me in the right direction:
I want to use TestFactory to supply a list of discrete values to create different tests. To achieve this, I create a function annotated with @cocotb.test **run_test(dut, my_option=None)** which has the general structure of my test, depending on the value of my_option.
After defining this fun

[2020-04-09 16:30] eric-wieser commented on #472
Drive is different to Force and Deposit?

[2020-04-09 16:30] eric-wieser commented on #472
Perhaps best for you to open a new issue, since you have the background to know what's missing.

[2020-04-09 16:52] themperek commented on #498
Easiest way to use conda httpss://github.com/cocotb/cocotb/wiki/Tier-2-Setup-Instructions#conda-based-installation-all-os

[2020-04-09 16:53] themperek commented on #1330
On osx clang is default as far as I am aware.

[2020-04-09 17:33] themperek opened #1618 "Check for `--enable-shared`"
Should check (in `setup.py`?) if Python was compiled with `--enable-shared` and error if this is not the case.

It looks like on Linux (ubuntu, centos, conda) this is consistent and can be checked with `python -c "import sysconfig; print(sysconfig.get_config_vars('LDSHARED'))"`. Mind that `Py_ENABLE_SHARED ` is not consistant and does not work with conda https://github.com/conda/conda-build/issues

[2020-04-09 18:10] ktbarrett commented on #1374
You are likely correct about simulators not supporting embedded NULs, and I'm not sure what the language specs on Verilog, SV, or VHDL say about them anyways, so we can ignore that. Also, I don't think moving to a C++ interface is a good idea (I'd eventually like to see other languages wrapping the GPI), especially if the only reason is to support embedded NULs (we can just add a string length or

[2020-04-09 18:11] #1374 closed

[2020-04-09 18:14] ktbarrett commented on #1330
Do we build with `-Werror`? When I run tox locally, the build spits out warnings about C++ not supporting some warning flag.

[2020-04-09 18:22] ktbarrett commented on #441
@themperek You should be able to pass `CFLAGS="-static-libgcc -static-libstdc++"` when building. I'm not sure how to do that with pip, I tried something and it didn't seem to work, `nm` shows no static linking.

[2020-04-09 18:28] ktbarrett commented on #1617
Don't decorate `run_test` with `cocotb.test`, instead use `cocotb.coroutine`.

[2020-04-09 18:38] themperek commented on #441
`CFLAGS="-static-libgcc -static-libstdc++" pip install -v cocorb` should work.

[2020-04-09 18:41] themperek commented on #441
And it works for me 👍

[2020-04-09 18:50] cmarqu commented on #1494
We could even do a check for these versions in cocotb - IIRC @ktbarrett wanted to expose getting simulator name and version from Python.

[2020-04-09 19:06] ktbarrett commented on #441
I think I was having a problem because it was using the build cache and not rebuilding the objects when I ran pip.

The results I see are that libstdc++ objects are linked weakly. My hunch is that we are using `-static-libstdc++` and `_build_libs.py` specifically calls out `libstdc++` for linking. This probably deserves some investigation because I have a feeling those weak links will be overloade

[2020-04-09 19:06] eric-wieser commented on #1616
Duplicate of #1618

[2020-04-09 19:06] #1616 closed

[2020-04-09 19:07] eric-wieser commented on #1618
Another option would be to invoke distutils to build a trial binary linking to libpython, and see if it fails.

[2020-04-09 19:10] themperek commented on #441
Why in case case this would not work?

[2020-04-09 19:12] themperek commented on #1616
@eric-wieser Sorry

[2020-04-09 19:15] themperek commented on #1330
Yes, we do. It sees this is a different kind of warning.

[2020-04-09 19:16] ktbarrett commented on #441
Strict or bureaucratic software approval processes. Closed labs. Those libraries might exist, but it could be a huge hurdle to get them approved and distributed to users.

[2020-04-09 19:19] themperek commented on #441
@ktbarrett Just copy to libs folder ?

[2020-04-09 19:29] cmarqu commented on #441
Not when there is a risk of being visited by security.

[2020-04-09 21:16] garmin-mjames commented on #1494
The check is easy in Tcl:
[code]
Supports both Active-HDL GUI and VSimSA. VSimSA puts "build" at the beginning:
VSimSA:
[code]
Active-HDL GUI:
[code]

[2020-04-10 06:29] themperek commented on #441
So conclusion.

Because we need to make dynamic libraries to be able to load by simulators some solutions may be (all in master for now):

-  one can try `CFLAGS="-static-libgcc -static-libstdc++" pip ...` but this may not work see: https://stackoverflow.com/questionhs/26304531/compiling-with-static-libgcc-static-libstdc-still-results-in-dynamic-depende

- copy dependencies to `cocotb/libs` folder

[2020-04-10 08:54] eric-wieser opened #1625 "Update the contributors section of the docs"
As requested by @imphil in https://github.com/cocotb/cocotb/pull/1482, which I requested we revert in order to handle as a separate PR.

In my opinion we should keep the old attributions too, in case they are historically interesting - although I don't think they need to be as visible as they are today.

[2020-04-10 09:06] eric-wieser opened #1626 "Set the repo url to `https://cocotb.org`"
There's a box in github next to the description that lets you paste a URL. We may as well put our website link there, even though it currently redirects to the docs.

[2020-04-10 10:04] themperek commented on #1611
I look into this a bit and I am not sure if there is not some fundamental issue of how initial condition is triggering. It happened that event is triggered at `time==0` and to me not consistent with expectations.

[code]
Will print `FallingEdge 0` (BTW: verilator gives `FallingEdge 11`)

in Verilog:
[code]
Will display: `negedge 10`

[2020-04-10 10:20] eric-wieser commented on #1611
@ktbarrett, shouldn't that be `ReadOnly()`?

[2020-04-10 10:51] themperek commented on #1611
Same in this case
[code]

[code]

[2020-04-10 12:23] eric-wieser commented on #1585
After gh-1619, this is already not supported - we may as well delete the makefiles now.

[2020-04-10 12:30] themperek commented on #1611
Something potentially interesting:
[code]
gives:
[code]

and this (see `#0`):
[code]

gives:
[code]

[2020-04-10 13:27] imphil commented on #1626
done, thanks for the reminder!

[2020-04-10 13:27] #1626 closed

[2020-04-10 13:31] imphil commented on #1625
Yes, they have to stay somewhere discoverable, but not on the quickstart page.

[2020-04-10 13:53] yannickl96 commented on #1617
Hello @ktbarrett ,
as I mentioned, doing that resolves my problem, but I lose the timeout functionality of cocotb.test, or is there another fast way to achieve timeouts in the test function? Anyways, thanks for your quick reply!

[2020-04-10 14:36] eric-wieser commented on #1617
You could use https://docs.cocotb.org/en/latest/triggers.html#cocotb.triggers.with_timeout

[2020-04-10 14:41] yannickl96 commented on #1617
Thanks!

[2020-04-10 14:49] eric-wieser commented on #1617
@ktbarrett, could you update the docs for `cocotb.test` to point to `triggers.with_timeout` for an explanation of the timeout arguments?

[2020-04-10 15:23] ktbarrett commented on #1611
@eric-wieser No. Once we loop back we are in `ReadOnly` and writes will fail. The only way to progress into a writable state at that point is to wait for the next clock cycle. That results in us only writing every other clock. Probably fine for an example, but maybe not.

[2020-04-10 16:15] ktbarrett commented on #1611
The value transitions from 'U' -> '0'. VHDL considers this a falling edge. Verilog apparently does not. Verilator just seems off... only 10 or 0 make sense to me.

[2020-04-10 16:26] themperek commented on #1611
Need to make this dff_simple example work in Verilog/VHDL the same way and still be simple.

[2020-04-10 16:32] themperek commented on #1611
Unfortunately, looks like in cocotb we trigger FallingEdge and RisingEdge on 'U' to anything.

[2020-04-10 16:50] ktbarrett commented on #1611
@themperek That last statement is correct. In both languages anything that isn't 'H' or '1' that transitions to 'H' or '1' is a rising edge; and the same for falling edge with 'L' or '0'. The issue with `initial clk = 0` is that it doesn't start out 'U', but with the `#0` delay in there, it does.

The simple solution is not use initial statements and leave the clock signal 'U', `clock.start()` wil

[2020-04-10 18:33] ktbarrett commented on #1533
Closed in #1594.

[2020-04-10 18:33] #1533 closed

[2020-04-10 18:36] ktbarrett commented on #1222
#1510 fixes the issue from the last comment. Willrevisit this.

[2020-04-10 18:39] ktbarrett commented on #1604
I have started to test some of the changes I've made and decided to hold off tearing the scheduler down between tests for now, since I think that will require a lot of changes to the triggers to make them handle cleanup more gracefully. Also will hold off on deprecating `RunningCoroutine` and `RunningTest` for now. They can both be follow up PRs.

Right now the changes

[2020-04-10 19:25] cmarqu commented on #675
It looks like they are up again: https://community.synopsys.com/s/coverity-scan-status

[2020-04-10 21:30] imphil commented on #675
Ah, it's not worth it. There are more useful techniques these days.

[2020-04-10 21:30] #675 closed

[2020-04-11 10:45] cmarqu commented on #1315
It works when you do it like this:
[code]

[2020-04-11 17:08] cmarqu opened #1636 "Add documentation for _sub_handles, _id, _full_name ..."
Add documentation for ``_sub_handles``, ``_id``, ``_full_name`` etc. since some of them are also useful for users.

[2020-04-11 17:56] eric-wieser commented on #1636
Note that `_id` currently has a weird default behavior that is specific to vhdl, via the `extended=True` argument. Perhaps we should take the chance to change the behavior before documenting it.

[2020-04-11 19:20] cmarqu commented on #1315
Tried with Questa and Xcelium where it works, but unfortunately, Icarus doesn't see the signal.

[2020-04-11 19:22] eric-wieser commented on #1315
Sounds related to #1610, where I found a similar problem with icarus

[2020-04-11 22:25] cmarqu opened #1638 "Remove deprecated "_compat_mapping""
Use of ``_compat_mapping``:
https://github.com/cocotb/cocotb/blob/90023310e8f6b6c9124c725266733578de3665f8/cocotb/handle.py#L58-L66

has been giving deprecation warnings for a long time (https://github.com/cocotb/cocotb/blame/ba0fb097efbd2939ad6a961ee8d02793104ef8f7/cocotb/handle.py#L131), so  we can remove it.

[2020-04-11 22:40] cmarqu commented on #1636
I have added a bit of documentation of the current behavior to the docstring in #1639. The weirdness is now mainly in the default of ``extended`` (and the name which would better be ``extended_only``), and the VHDL-specific code (which can be considered a bug), so can  be done in a different PR.

[2020-04-12 00:45] wsnyder opened #1640 "Test Verilator issue-234 time changes"
Verilator has a new issue-234 git branch (or see here https://github.com/verilator/verilator/pull/2253). This implements `timescale according to the IEEE standard and should make the handling compatible with other simulators.  Can you please check if any cocotb changes are needed to support this?  If any Verilator changes are needed feel free to file issues on verilator or pull requests.

Thanks

[2020-04-12 06:47] eric-wieser commented on #1638
Remember that deprecation warnings have been visible by default for much less time

[2020-04-12 11:37] cmarqu opened #1642 "Document deprecation and removal strategy"
We should document our deprecation and removal strategy.

From https://github.com/cocotb/cocotb/pull/1496#pullrequestreview-387405087

"Only deprecate things in minor releases, and remove them in the next major release. (See https://symfony.com/doc/current/setup/upgrade_major.html#make-your-code-deprecation-free for a project that follows this principle"

[2020-04-12 11:39] cmarqu commented on #1638
Indeed, I'm setting the 2.0 milestone for this.

Related: #1642

[2020-04-12 16:21] ktbarrett commented on #1611
@themperek has done some experimentation with the example using many simulators and found they are not consistent, even when using the same PLI.

For the following example, the Verilog implementation is used, so all simulators are using VPI.

[code]

In all the simulators tested besides Modelsim or VCS, `RisingEdge` dumps you *before* the HDL resolves, so you must wait for `ReadWrite` or `ReadOnly

[2020-04-12 16:46] themperek commented on #1611
@ktbarrett The error is `ValueError: Unable to resolve to binary >x<` it is in ModelSim Starter Edition version also.

[2020-04-12 17:09] tsengr0916 opened #1645 "A potential race condition in while loop"
I am seeing some weird behavior that a while loop is executed twice at the same time stamp or in the same clock cycle. The following co-routine is forked-off at beginning of sim, but I see the outer  while loop always executes twice at the same clock cycle. At the end of the routine, I print out some sting and break out, but sim will even print out the string twice then break out the loop.  Could

[2020-04-12 17:16] eric-wieser commented on #1645
It's impossible for that print to appear twice unless you start the coroutine twice - the `break` ensures that.

[2020-04-12 21:41] cmarqu commented on #1642
What we could do is for every ``.. deprecated::`` line, specify the version number where support is going to be removed.
This would require that we do use predictable future version numbers.

[2020-04-12 22:07] themperek commented on #1642
Last supported versions would be easier.

[2020-04-13 07:59] tsengr0916 commented on #1645
Yes Eric. It was a bug in my design. Never mind. Thanks very much!
Richard

[2020-04-13 07:59] #1645 closed

[2020-04-13 09:12] cmarqu opened #1648 "Reword message about the Python interpreter being used"
"Did not detect Python virtual environment. Using system-wide Python interpreter" could be read as a problem report by new users. We should reword it.

[2020-04-13 10:00] eric-wieser commented on #1081
Alright, I have this working!

[2020-04-13 13:48] themperek commented on #1611
Maybe interesting is that this works on everything that I can test as far as I can see:

[code]

[2020-04-13 14:54] cmarqu commented on #1648
I would be inclined to just make this a ``LOG_DEBUG`` instead: https://github.com/cocotb/cocotb/blob/e5f888af5a64edc5753a9de2d24e1724d547f5f4/cocotb/share/lib/embed/gpi_embed.cpp#L71

In case we *are* in a virtual environment (and the user likely cares which), its location is reported as an info:
https://github.com/cocotb/cocotb/blob/e5f888af5a64edc5753a9de2d24e1724d547f5f4/cocotb/share/lib/embed/

[2020-04-13 15:07] eric-wieser commented on #1648
Do we have a means to log the location of the system intepreter? Frankly I'd rather just see in the logs `Using the python interpreter from %s`. It's perhaps still worth doing this from within the C++ code, because it's useful information if the cocotb import fails.

[2020-04-13 16:30] themperek commented on #1611
This also works:
[code]

[2020-04-13 16:32] benreynwar opened #1650 "Recently cocotb and ghdl have stopped working together."
The error is:
``
/usr/local/bin/ghdl: symbol lookup error: /home/travis/build/benreynwar/check_cocotb_ghdl/cocotb/cocotb/libs/libcocotbvpi_ghdl.so: undefined symbol: vpi_register_systf
``
I've created a dummy travis run to illustrate this:

https://travis-ci.org/github/benreynwar/check_cocotb_ghdl

I've also opened an issue in ghdl (https://github.com/ghdl/ghdl/issues/1222).

[2020-04-13 16:36] eric-wieser commented on #1650
Mind taking a look @themperek?

[2020-04-13 16:53] themperek commented on #1650
It looks ok here: https://travis-ci.org/github/cocotb/cocotb/jobs/674472863#L1126 (latest master)

[2020-04-13 17:08] benreynwar commented on #1650
It looks like this is a ghdl issue and was introduced in the last couple of days.  In the ghdl issue tgingold said he thinks he knows what the issue is, so I don't think cocotb needs to worry about it.

[2020-04-13 17:15] themperek commented on #1650
@benreynwar Thank you for update.

PS. Still looking for someone who can clean up our GHDL tests in cocotb.

[2020-04-13 17:15] #1650 closed

[2020-04-13 19:50] cmarqu commented on #1642
Would it really? We would have to write something like "Last version this is supported in is 1.x.y", since we cannot know how many x'es and y's may still come.

[2020-04-13 20:05] themperek commented on #1642
This is exactly what I get with some IC place & route tools.

[2020-04-13 20:08] cmarqu commented on #1102
Looks like everything brought up here is done; thanks again for your work @hofstee.

[2020-04-13 20:08] #1102 closed

[2020-04-13 20:16] cmarqu commented on #1611
There is also "The Facts and Fallacies of Verilog Event Scheduling: Is the IEEE 1364 Standard
Right or Wrong?": http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.611.4282&rep=rep1&type=pdf

[2020-04-13 20:44] ktbarrett commented on #1611
@cmarqu Good find. From just the intro I gather that `ReadWrite` has different behavior on different sims. Is there any way we can work around that? Is there another trigger that always puts us after non-blocking statements resolve? It seems like `RisingEdge` will put us before those statements resolve (we should test that on all simulators as well), so `ReadWrite` not having the behavior discusse

[2020-04-13 20:49] benreynwar commented on #1650
tgingold has fixed the issue now.  He had a comment about fixing a cocotb makefile.  I don't think any changes are necessary, but it would be good if someone who better understands what's happening takes a look:

See ghdl issue:
https://github.com/ghdl/ghdl/issues/1222

[2020-04-14 07:23] tgingold commented on #1527
I fear that the change can only deal with the work library.
Maybe instead of -i/-m, the -c/-e options should be tried.
Or do a touch after elaboration that only depends on the VHDL sources.

[2020-04-14 08:14] csantosb commented on #1527
As for right now, below is the last up to date version of `Makefile.ghdl` which I'm using to deal with this issue.

Far from perfect, but otherwise I have to re-elaborate the whole thing upon every modification to python testbench. You are right, it only deals with work lib, and also includes non-cocotb variables.

I'll try to explore the alternative you're proposing.

[code]

[2020-04-14 10:27] themperek commented on #1611
In some cases, we can use `cbAtEndOfSimTime` but it looks as not in all.

[2020-04-14 15:12] themperek commented on #1640
@wsnyder I can confirm that something like this `` `timescale 1us/1ns `` in Verilog works now 👍

It looks like we need to update here https://github.com/cocotb/cocotb/blob/4c2d7771d5934c25fab00b5b839f85ba1bc8cfdf/cocotb/share/makefiles/simulators/Makefile.verilator#L32

[2020-04-14 18:10] hjwmedenblik opened #1654 "readyLatency in AvalonSTMonitor not working"
Hi,
I am testing my AvalonST packet device. But my hdl assumes readyLatency=1. Am I correct that this is not implemented in the monitors/avalon.py ?

tnx
Henk

[2020-04-14 18:41] ktbarrett opened #1655 "Document simulator timing behavior"
Adds some documentation regarding common questions that some people may ask about the timing triggers `ReadWrite` and `ReadOnly`, what state are we in when an edge trigger (e.g. `RisingEdge`) or `Timer` occurs, and how to use these primitives effectively for common problems like modelling combinational and registered logic.

[2020-04-14 20:40] #1600 closed

[2020-04-14 23:14] nredd commented on #1488
During development, it became clear that implementing e.g. a `Driver` for some arbitrarily complex hardware interface would be increasingly prohibitive--if not impossible--as complicated behaviors are included. This is especially true if one attempts to manually write the state machine associated with an interface.

That being said, I worked out and implemented a generalization of digital interfac

[2020-04-15 09:23] eric-wieser commented on #1488
@nredd: I think the easiest thing for now would be for you to make `nredd/cocotbext-interfaces` or whatever you deem best - and then when we get around to it, we can pull a bunch of repos under the `cocotb` namespace all at once, and merge / split them as makes sense.

We can add a link to `nredd/cocotbext-interfaces` from our wiki page which lists extensions

[2020-04-15 09:27] #1617 closed

[2020-04-15 09:54] #1585 closed

[2020-04-15 10:01] #1625 closed

[2020-04-16 01:49] ktbarrett opened #1657 "Add type checking to SimHandle non-blocking writes"
When using `setimeddiatevalue` to set a signal's value, it does type checking to ensure it can pass a valid value to the C layer. However, the non-blocking write methods `value` and the syntax `<=` depend upon the type checking in `setimmediatevalue`. If these non-blocking writes are scheduled, the type checking it not done immediately. The exception will throw in the internal writer coroutine ins

[2020-04-16 07:08] themperek commented on #1459
In the current development version, this part has significant changes and should be better.
Please also check https://docs.cocotb.org/ also related to Aldec.

Please reopen if the problem is still there.

[2020-04-16 07:18] themperek commented on #226
In the current development version, windows support should be better now.
Please also check https://docs.cocotb.org/ for instructions.

Since this issue is from 2015 I am closing but feel free to reopen in case the issue is still there.

[2020-04-16 07:18] #226 closed

[2020-04-16 07:28] themperek commented on #308
There ware changes to how this works (currently in development version) please also see:
https://docs.cocotb.org/en/latest/simulator_support.html#sim-modelsim

This issue is from 2015 so I will close. Please reopen if the issue is still there.

[2020-04-16 07:28] #308 closed

[2020-04-16 07:32] #444 closed

[2020-04-16 07:33] themperek commented on #396
It should be solved now. Please follow instructions and reopen if the issue is still there.

[2020-04-16 07:33] #396 closed

[2020-04-16 07:42] themperek commented on #196
It is supported to some extend (simple example works).  Beyond that, it is CVC issues.
Code available here: https://github.com/cambridgehackers/open-src-cvc

[2020-04-16 07:42] #196 closed

[2020-04-16 07:45] themperek commented on #118
How libraries are compiled has changed (#1306). The default optimization for setuptools is '-O3'  and can be changed with `CFLAGS`.

[2020-04-16 07:47] themperek commented on #178
How libraries are compiled has changed (#1306). The default optimization for setuptools is '-O3' and can be changed with `CFLAGS`.

[2020-04-16 07:47] #178 closed

[2020-04-16 07:53] themperek commented on #227
Basic Verilator support is now available in cocotb. #943

Since this issue is from 2015 I will close. Please feel free to report in case you find issues.

[2020-04-16 07:53] #227 closed

[2020-04-16 07:55] themperek commented on #221
The way the install process works have changed 2 times since 2015 and this seem irrelevant at this point.

Please feel free to reopen in case of trouble.

[2020-04-16 07:55] #221 closed

[2020-04-16 07:57] themperek commented on #376
@chevillotn Could you try with the current version and report if this issue is still there?

[2020-04-16 08:00] themperek commented on #489
I believe this should be solved now.

Since this is an issue from 2016 I will close but feel free to reopen if the problem persists.

[2020-04-16 08:00] #489 closed

[2020-04-16 08:05] themperek commented on #1170
#1566

[2020-04-16 08:11] themperek commented on #1330
@ktbarrett Can we close this?

[2020-04-16 08:13] themperek commented on #1387
@eric-wieser This seems to be not so easy taking account for build_clib state.  Can we close?

[2020-04-16 08:16] eric-wieser commented on #1387
I found a stackoverflow post a couple days ago that might provide a path forward for this. I think we should leave it open.

[2020-04-16 09:59] imphil opened #1660 "Deemphasize/remove endian swapper example"
The endian swapper example is a nice advanced use case, but it's also an odd one:
- depends on swig
- requires user to understand how to write a custom Python extension module
- Ultimately does something rather boring.

Still we list is rather prominently in our docs and README.

I'd go for either
1. fully remove the example until we come up with something better,
2. or: de-emphasize it. Keep it w

[2020-04-16 10:07] themperek commented on #1660
I propose this as first example https://github.com/cocotb/cocotb/pull/1620
I was thinking to make a short tutorial on this while changing: (change clock edge, add coroutine ... )

[2020-04-16 10:59] eric-wieser commented on #1660
I'd vote option 2, but also do a better job of framing what it is trying to show: a case where you have an existing C hardware driver, and want to run it against hardware instead.

As an aside: the way we build the two C extension modules in that example, `io_module` and `hal`, and link them together, is explicitly unsupported by python, and not guarantee to work on all platforms.

[2020-04-16 11:14] imphil commented on #1660
@eric-wieser if you'd have to write such code, would you really go for the implementation approach that was chosen here? I have had a fantastic experience with cython, that's what I'd go for for such an example.

[2020-04-16 11:34] themperek commented on #1060
Actually your [case](https://github.com/cocotb/cocotb/files/3481931/cocotb_dflipflop_delay.zip)   results depend on the simulator.
If in your replace  `await ReadOnly()` with await `Timer(1, units="ns")` it is OK but I do not know all the quirks of FLI/VHPI.
If you skip  `await ReadOnly()` it also works effectively sample data **before** `RisingEdge()`.

[2020-04-16 11:40] eric-wieser commented on #1660
I've not spent much time around cython. Since the example is so minimal, for this case I might just:

* Replace the link-time injection of `IORD` with runtime injection - ie, make `endian_swapper_init` take an object like:
[code]
  This eliminates the need for the `io_module` extension module. It's also representative of what some production driver code I wrote in the past looked like.
* Use `ctyp

[2020-04-16 11:50] eric-wieser commented on #1657
My fear is it's worse than that, and all future writes fail because the writing thread crashed

[2020-04-16 12:41] ktbarrett commented on #1657
In the writer coroutine I'm guessing we should catch, log, and squash?

[2020-04-16 12:52] eric-wieser commented on #1657
I have a better plan, which I started prototyping but don't have time today to finish. The idea would be to queue the fully-processed simulator calls from `handle.py`, with no further checks or computations. I'll push it to a branch for you to take a look.

[2020-04-16 13:33] ktbarrett opened #1662 "Change VPI callback for ReadWrite"
Discussion of proposed solution following #1611. #1060 likely related.

### Background
After waiting on an edge trigger on a signal, we exist in a state where computations based on the change in value on the signal have not been resolved. Reading values at this point yields previous values for the related signals. If want to read the resolved values and respond in the same time cycle (modelling co

[2020-04-16 13:36] imphil commented on #1662
@mballance do you happen to know someone who can look at the Questa side of things here, and let us know if there is another solution we haven't seen so far?

[2020-04-16 14:23] mballance commented on #1662
@imphil, good question. I'll be happy to take a look at it myself initially, though it won't be until the weekend. Is there a testcase that I can use to observe the current behavior?

[2020-04-16 14:30] themperek commented on #1662
Maybe on simple D flip-flop ?

[code]

[2020-04-16 14:41] #1330 closed

[2020-04-16 21:35] #1657 closed

[2020-04-19 07:36] chiraag opened #1671 "Struct support at top module interface"
Are structs supported at the interface of the top-level system verilog module? If yes what is the appropriate syntax to add them to the signal list in the driver? Should we pack them manually in Python and then assign them to the appropriate port?

[2020-04-19 15:00] mballance commented on #1662
@ktbarrett, I played around a bit with the Python @themperek shared, and the 'dff' DUT from the README. I could use a bit more information from you. When using the ReadWrite trigger, my guess is that users will want to see updated inputs based on the outputs assigned by cocotb. Is this correct?
Here's the modified DUT that I'm using

[code]

I'm still driving `d`, but I'm observing `d_res` instead

[2020-04-19 15:29] ktbarrett commented on #1662
I did some research on why we are using `vpiInertialDelay` and why the two are different and there is quite the history, #1014, #768 and their related PRs. According to https://github.com/cocotb/cocotb/issues/1014#issuecomment-511113211, using `vpiNoDelay` causes issues. This is likely *one* of the problems.

I don't think the example highlights what I mean though, I will come up with an example a

[2020-04-19 20:31] ktbarrett opened #1675 "Test abortion methods don't work"
`RunningTest` objects have `abort` methods, the scheduler has the `finish_test` method. I have run several tests and found that neither actual ends the test with the correct outcome. `finish_scheduler` does work, but doesn't clean up before scheduling the next test, causing the next test to fail.

Obviously no one is using these methods or we would have complaints. As a part of the scheduler refac

[2020-04-19 21:01] themperek commented on #153
@cmarqu This is still the case?

[2020-04-19 21:05] cmarqu commented on #153
@themperek I think so, yes. We should probably add the info from #1076 under "Simulator Support" in the docs.

[2020-04-19 21:06] #153 closed

[2020-04-19 21:14] themperek opened #1676 "Document performance improvements suggestions"
Add a documentation section that can be done for improving performance.

Some initial suggestions can be (please add more):

- Check optimization options of your simulator (default from cocotb may not be optimal for performance).
- Use `async`/`await` syntax.
- Try to minimize the number of triggers (`await`/yield`):
   - Generate clocks on the HDL side
   - Used slowest possible clock/(or use sig

[2020-04-19 22:17] eric-wieser commented on #1675
Note that users have no sane way to obtain a `RunningTest` instance in the first place.

[2020-04-19 22:37] ktbarrett commented on #1662
@mballance What I am talking about is *reacting* combinationally. For example, you have FIFO that a `valid` output, and you need cocotb to read on that valid output and in reaction set an acknowledgement signal.

Simply, this is;
[code]

If we don't put the `ReadWrite` there, we are reading the previous clock cycle's value. This still works by accident though...

[2020-04-19 23:17] ktbarrett commented on #1675
Note these functions are used in `_sim_event` and work in that context, but don't work in user code. This probably has to do with sim event not going through the simulator. More tests to follow.

[2020-04-19 23:20] cmarqu commented on #1676
* Reduce the amount of log messages

[2020-04-20 07:20] Martoni opened #1680 "Adding cocotbext-wishbone as cocotb group"
[cocotbext-wishbone](https://github.com/wallento/cocotbext-wishbone) module is not enough known as we've seen in this[ issue message](https://github.com/cocotb/cocotb/pull/439#issuecomment-615367546).

It could be great to include this project/module in «[cocotb github organization](https://github.com/cocotb)» no ?
As explain in the[ cocotb documentation.](https://github.com/cocotb/cocotb/blob/mas

[2020-04-20 08:33] eric-wieser commented on #1680
Cleaning up https://github.com/cocotb/cocotb/wiki/Further-Resources may also be valuable here. There are a lot of links without much description there.

[2020-04-20 09:11] Martoni commented on #1680
I added a section in [Further-Resources](https://github.com/cocotb/cocotb/wiki/Further-Resources#extension-modules-cocotbext)

[2020-04-20 10:22] DavideConficconi opened #1681 "Plan for xsim and/or quartus simulator support in cocotb?"
Hello,
I am a newbie to cocotb so maybe is not a real issue but I was not able to found an answer to my doubts here and in the read-the-docs.

Is there any plan to support, or it is already supported -- in case sorry for this issue --, Xilinx and Intel simulators with cocotb?

Thanks!

[2020-04-20 10:38] themperek commented on #1681
As I am aware `xsim` does not support any Procedural Interface (VPI/VHPI) so this is not possible. As I know Intel uses to Modelsim that in principle should work (is working in older versions).

If this does not answer your question feel free to re-open.

[2020-04-20 10:38] #1681 closed

[2020-04-20 11:39] themperek opened #1682 "Wait on event and condition in `c/c++`?"
For performance reasons, it would be probably useful to have the ability to wait on condition in `c/c++`.  Looking at monitors/drivers that could have a performance gain if used correctly.

Something like below to wait in `c` and not in `python`:
[code]

Example python syntes can be like in #1250:
[code]

I think @eric-wieser @ktbarrett have some ideas.

[2020-04-20 12:03] eric-wieser commented on #1682
Right now it is impossible to have more than one C-level callback for a signal edge. The issue is that we allocate the callbacks statically per signal:

https://github.com/cocotb/cocotb/blob/c4cfcd3e3faae6ea12851c0336fa92924ffce176/cocotb/share/lib/vpi/VpiImpl.h#L188-L190

I imagine this was motivated by a reluctance to implement proper memory management of these callbacks. Allocating on the heap

[2020-04-20 12:03] themperek commented on #1682
But doing like bellow can get the same (with some limitations) :
[code]

[2020-04-20 12:08] eric-wieser commented on #1682
That's not correct, it gives a false positive if a pulse appears on `signal` between clock edges. You need
[code]

[2020-04-20 12:13] themperek commented on #1682
@eric-wieser But this is not implemented like this: https://github.com/cocotb/cocotb/blob/b5780f3f478ddaff4629cf46e8c998ebebc3b9ad/cocotb/triggers.py#L910-L921 ?

[2020-04-20 12:47] eric-wieser commented on #1682
That code isn't specific to edges, but to any complex condition. I'm also starting to suspect that `ReadOnly` is wrong, and that the signal should be captured immediately at the rising edge, to match how the verilog would capture it.

[2020-04-20 12:49] eric-wieser commented on #1682
I'm also starting to suspect that `ReadOnly` is wrong, and that the signal should be captured immediately at the rising edge of `clock`, to match how the verilog would capture it.

[2020-04-20 13:03] themperek commented on #1682
BTW: For `ClockCycles` one can use `Timer` in simple cases.

[2020-04-20 14:29] ktbarrett commented on #1682
@eric-wieser

After looking at it, it doesn't seem like it would be a herculean task to add support for multiple waiters on a signal change (at least to VPI, not sure about other interfaces). Make the callbacks vectors, each callback holds a reference to the signal object that it can use that to remove itself from the vector once it cleans up. They just have to be friends (or have a deregister met

[2020-04-21 02:10] nanduraj1 commented on #1275
There is a switch `--trace-structs` that shows struct/union hierarchy in vcd file. The code snippet is below. Is it possible to do something similar for vpi?

https://github.com/verilator/verilator/blob/174fd1bf0ed5256cf62aa1cebf0774aafb4ff1cc/src/V3TraceDecl.cpp#L306-L341

[2020-04-21 17:21] mballance commented on #1024
I echo @cmarqu's comments in #1016: using inertial delays isn't common in my experience. I worked developing CPU simulation models ~20 years ago on multiple simulators (there were quite a few Verilog simulators back then), and we never used inertial delays.
I tried using vpiNoDelay with cocotb master and a new-ish version of Questa, and it seemed to work fine. Are there specific simulators that se

[2020-04-21 22:10] cmarqu opened #1686 "Extend test_iteration_mixedlang to also have VHDL on top"
Our testcase https://github.com/cocotb/cocotb/blob/master/tests/test_cases/test_iteration_mixedlang only tests with a Verilog toplevel - we should also have a test with VHDL being on top.

https://github.com/cocotb/cocotb/blob/207d09d60ec088c26b9a9eba2b614376c33c440b/tests/designs/uart2bus/Makefile#L33

[2020-04-21 23:09] ktbarrett commented on #1476
Apparently this isn't an issue? I recently run from #1656 shows this test passing.

[2020-04-21 23:22] ktbarrett commented on #664
I have run the regression with Questa 10.7b, I see no issue. This can be closed.

[2020-04-21 23:24] ktbarrett commented on #1597
This will be easier to implement once we have a custom entry point in place.

[2020-04-21 23:28] mballance commented on #1597
@ktbarrett, which issue/PR are you referring to with respect to a custom entry point? (just want to be sure I'm thinking the same direction you are).
Ideally I'd like to have this work a bit like a plug-in mechanism. Specifically, I'd like the act of Python loading certain "extension" packages to result in registering listeners with cocotb.

[2020-04-22 00:15] ktbarrett commented on #1218
Did the original issue get resolved?

[2020-04-22 00:26] #664 closed

[2020-04-22 06:36] jahagirdar commented on #888
Is there a better way of doing this without a system wide change?

I can update-alternatives locally, but to do so on the shared regression farms would mean months of bureaucracy...

[2020-04-22 06:42] themperek commented on #888
if you install with `pip3` or `python3 -m pip` it will use correct version now (this has change and is in master branch). You can also check latest documentation update. You can also use miniconda (just unzip) to have local version.

[2020-04-22 08:42] gretzteam opened #1687 "Document how cocotb can be bolted onto an existing simulation environment (bypassing makefiles...)"
Adding cocotb support to an existing simulation environment is doable without the use of Makefiles. Document what needs to be done for each simulator.

Snippet from Gitter discussion:

[2020-04-22 08:45] themperek commented on #1687
Related to #1461 #1562

[2020-04-22 08:50] eric-wieser commented on #1566
As an interim solution, could we remove this today, and change `_initialize_testbench` to do the following?
[code]

[2020-04-22 08:52] themperek commented on #1566
I am for any solution.

Maybe add `get_sim_name()` to siumlator module? Retun `None` if none?

[2020-04-22 09:03] themperek commented on #1566
So if one does:

``python3
SIM_NAME = None

def _initialize_testbench(...):
..
[code]

[2020-04-22 13:33] eric-wieser commented on #1566
My suggestion above was an attempt to continue avoiding importing the simulator module, without the need for an env var.

We can't solve that problem from the simulator until we solve #1568 (or re-introduced `SPHINX_BUILD` as a variable)

[2020-04-22 13:52] themperek commented on #1566
@eric-wieser We cannot import `cocotb.simulator` now? I just cannot call some functions but able to import.

[2020-04-22 13:53] ktbarrett opened #1688 "Incomplete cleanup in scheduler leading to bugs"
The test that caused the error was added in ktbarrett/cocotb@d589303f9ae8cca17789b21b597e4bec66cf80bf. The failure can be observed by running the failing test and at least one other test after it.

[code]
[sim.log](https://github.com/cocotb/cocotb/files/4516438/sim.log)

You can see from the log that the coroutine `test_exceptions_forked_late.<locals>.await_later` that was scheduled in the first t

[2020-04-22 14:01] themperek opened #1689 "Conditional waiting on events : API discussion"
Based on https://github.com/cocotb/cocotb/pull/1250 (by @Fatsie) proposals and discussion in https://github.com/cocotb/cocotb/issues/1682

We have discussed a bit internally on https://github.com/cocotb/cocotb/pull/1250 and concluded is a that it is a good idea but:
- function names have to be clear
- we can gain performance if we implement this in a slightly different way

For performance reasons

[2020-04-22 14:08] ktbarrett commented on #1688
The test was originally written for #1526, with the current scheduler semantics the test should fail with `ValueError` and the next test should pass.

[2020-04-22 14:17] eric-wieser commented on #1566
That only works on systems with `--enabled-shared`. Ideally we'd lift that restriction by reversing the dependency between `libgpi` and `libcocotb`.

[2020-04-22 14:28] ktbarrett commented on #1566
@eric-wieser Funnily enough, I have that change hanging out as well. I was hoping to take a swing at refactoring the scheduler before that, but I can move up those changes first so they can be done over the next few weeks.

[2020-04-22 14:47] ktbarrett commented on #1688
The issue seems to be that when `await_later` is `schedule`d it chains up to the point of failure in the forked coroutine which calls `cleanup` and then `_test_complete` which resets the `_terminate` flag allowing it to skip over the case that is supposed to handle that.

The real answer is that the scheduler shouldn't be failing tests in `unschedule`, that checking for test completion or performi

[2020-04-22 16:05] cmarqu opened #1691 "Rename Makefile.aldec to Makefile.riviera"
Since we now also have support for Aldec Active-HDL (#1614), we should rename ``Makefile.aldec`` to ``Makefile.riviera``.
``Makefile.aldec`` should be kept around as an alias, but usage of ``SIM=aldec`` should be deprecated.

[2020-04-22 16:10] themperek commented on #1566
@eric-wieser

Any case without `--enabled-shared` setup will not work and something will fail since we need to link with python?

[2020-04-22 16:14] cmarqu commented on #1691
@imphil Relevant for the Aldec Webinar - we probably don't want to show the old ambiguous name.

[2020-04-22 16:16] eric-wieser commented on #1566
@themperek: Not if users just want to inspect / mock / call the simulator API. The methods could all `raise RuntimeError("No GPI backend")`.

[2020-04-22 16:20] cmarqu opened #1693 "Remove NVC support"
The maintainers decided to remove the NVC "support" (it didn't ever work really) without a deprecation phase.

[2020-04-22 19:23] ktbarrett commented on #1689
Just to be clear, what we are talking about is creating a function *specifically* for improving the performance of synchronizing ourselves on registered logic, correct? I think in that case we should specifically call out the use case with the word "registered" in the name. I'm thinking `RegisteredEdge`, `RegisteredRisingEdge`, and `RegisteredFallingEdge`.

I don't really see much of a point in ad

[2020-04-22 19:25] eric-wieser commented on #1689
The callback style can't work, as there's no `await` there.

[2020-04-22 19:31] eric-wieser commented on #1689
I suppose it's just a way for the user to avoid having to write a loop - they can just ask to wait until the first edge where the condition is true, and they get the loop for free.

Not that much harder - calling a lambda is fairly straightforward from c, and still far faster than resuming the scheduler.

[2020-04-22 19:35] themperek commented on #1566
@eric-wieser So you see a way to remove the dependency on linking pythonXY.so during setup for all libraries?

[2020-04-22 19:58] ktbarrett commented on #1689
@eric-wieser I don't think we can ignore the scheduler in the condition check, that's why I think it's harder. It's easy enough to say "don't do anything stupid", but the scheduler might be entered from that function and then we have another point of entry into the scheduler we have to worry about.

[2020-04-22 20:39] garmin-mjames commented on #1648
We also don't detect if we are in a Conda environment. That may be fine, but logging "Using system-wide Python interpreter" in that context may be confusing.

[2020-04-22 20:55] themperek commented on #1648
We could chek fo and display `PYTHONHOME` variable (if exist).

[2020-04-22 21:40] eric-wieser commented on #1689
As long as the function is not a coroutine, I think it would be safe?

[2020-04-22 21:43] eric-wieser commented on #1566
No, my proposal would be to not build `libcocotb` under the circumstances where there is no python.so, but arrange the dependencies so that everything else can be built.

[2020-04-22 21:46] themperek commented on #1566
Why one would do this? Would this not add even more confusion later on? Not better do #1618 ?

[2020-04-22 23:43] ktbarrett commented on #1566
@themperek there is a possibility that someone want to wrap the GPI in a language other than Python. While cocotb is currently the way we distribute the GPI, it would be nice if we didn't shackle it to Python. I'm not speaking for Eric, but that would be my reasoning.

[2020-04-23 01:00] ktbarrett commented on #115
Added sim time with units as a concept to `Timer`, `Clock`, and `get_sim_time` in #474. `with_timeout` and test timeouts were added in #1119.

[2020-04-23 01:00] #115 closed

[2020-04-23 01:03] ktbarrett commented on #19
I think we have decided against only having 2 examples in the repo. We have several examples and a slew of unit tests. I don't think a single example could act as a good unit test (or a good example) either.

[2020-04-23 01:03] #19 closed

[2020-04-23 01:37] ktbarrett commented on #182
This issue is quite old, if you are still having an issue, please reopen.

[2020-04-23 01:37] #182 closed

[2020-04-23 04:01] ktbarrett commented on #212
As far as I can tell there is no test of that name in the current repo. Perhaps we should create simulator-specific issues to maintain a running list of failing regressions on proprietary simulators?

[2020-04-23 04:01] #212 closed

[2020-04-23 04:03] #218 closed

[2020-04-23 04:31] chiraag commented on #1689
I am sure if this is directly relevant to this discussion but I had the following code:
[code]

This was working correctly till recently. However when running on master I see that `self.bus.en <= self.bus.rdy.value` is no longer valid. The RHS is a combinational output from the DUT and which feeds into `en` which needs to be registered on the succeeding rising edge of clock.

I do not believe I wa

[2020-04-23 06:08] chiraag commented on #1689
In this case the issue seems to be using the "non-blocking assign" syntax instead of `setimmediatevalue()`.  Perhaps a simple timing diagram in the documentation of when the various coroutines and triggers get scheduled would be a useful reference for developers.

[2020-04-23 08:15] m-kru opened #1699 "Problem with running endian_swapper VHDL example."
I have installed cocotb from pip. Followed this [Quickstart Guide](https://docs.cocotb.org/en/latest/quickstart.html) for VHDL example.
When I execute: `make SIM=ghdl TOPLEVEL_LANG=vhdl` in `cocotb/examples/endian_swapper/tests` directory the output is:
[code]
Any idea what might be wrong?

[2020-04-23 09:07] m-kru commented on #862
@Fatsie what is the status?

[2020-04-23 09:12] themperek commented on #1689
@chiraag It is interesting but can you move your findings to new issues? It does not look to me it belongs here. Also would be good to say what simulator and version you are using.

[2020-04-23 09:15] eric-wieser opened #1700 "Issues with signal assignment timing"
---

I had the following code:
[code]

This was working correctly till recently. However when running on master I see that `self.bus.en <= self.bus.rdy.value` is no longer valid. The RHS is a combinational output from the DUT and which feeds into `en` which needs to be registered on the succeeding rising edge of clock.

I do not believe I was relying on a specific ordering of the scheduler since I

[2020-04-23 09:16] eric-wieser commented on #1700
Probably better for @chiraag to open this themselves so that they can edit it.

[2020-04-23 09:16] #1700 closed

[2020-04-23 09:45] MansurHu opened #1701 "Procedure access"
I would like to know if it is possible to de VHDL procedure access from Cocotb.
I couldn't find this information in the Cocotb docs.

For example i would like to call the following VHDL procedure from a Cocotb test:
write_field(word, 0, 2, 10,  "000000011");

Is this possible? then I would also like to change the parameters from the write_field() within the Cocotb test

[2020-04-23 09:57] themperek commented on #1699
Very strange. Looks like something very wrong with the installation?

Maybe uninstall (`pip uninstall`) and install one more time?

[2020-04-23 10:22] elgorwi commented on #1671
@chiraag, some more details of which simulator and a code snippet would help us understand the problem better.

Following code seems to indicate that a ctypes structure could be used to drive a ModifiableObject:
https://github.com/cocotb/cocotb/blob/dfaac9732e3b6b07e37c928c25bc93b7cc9e6d77/cocotb/handle.py#L647

However, it is likely that the verilog struct would be a HierarchyObject rather than a

[2020-04-23 11:45] m-kru commented on #1699
@themperek Still the same. `Makefile.ghdl` is located in
[code]

[2020-04-23 12:04] themperek commented on #1699
What version are you using?

[2020-04-23 12:10] eric-wieser commented on #1699
Looks like something is wrong with these lines

https://github.com/cocotb/cocotb/blob/v1.3.1/cocotb/share/makefiles/Makefile.sim#L45-L53

[2020-04-23 12:18] themperek commented on #1699
This can happen if you use example from master but you installed previous  version.

[2020-04-23 13:46] m-kru commented on #1699
No, still the same result.

[2020-04-23 14:01] themperek commented on #1699
Try another example? But this should work. I do not see what can go wrong.
Maybe ghdl version?
Do you have `work-obj93.cf` in `sim_build` directory?

[2020-04-23 14:39] m-kru commented on #1699
It is the same with dff example. Yes `work-obj93.cf` is in the `sim_build`. Does cocotb require ghdl to be build with specific back end?

[2020-04-23 15:16] m-kru commented on #1699
If I run
[code]
inside `sim_build` directory the simulation starts and I get another error:
[code]

[2020-04-23 15:29] themperek commented on #1699
What GHDL version are you using?

On Thu, 23 Apr 2020, 17:16 m-kru, <notifications@github.com> wrote:

[2020-04-23 15:31] eric-wieser commented on #1699
That error means that somehow `COCOTB_SIM` is not set in the environment

[2020-04-23 15:34] m-kru commented on #1699
@themperek I have compiled GHDL 2-3 days ago from master branch:
[code]

[2020-04-23 15:36] ktbarrett commented on #1689
@eric-wieser The current implementation of `fork` causes an immediate `schedule`.

We could write it like what is in the OP: a coroutine that takes a conditional function; that part can stay in Python. We could encapsulate the registered edge trigger so we can move to a C impl of that trigger later and not have to worry about user code in the impl. That seems like a proper separation that still al

[2020-04-23 15:40] themperek commented on #1699
So we can try to debug maybe something changed we test v0.37 release.

Can you edit this file: `/home/mkru/.local/lib/python3.8/site-packages/cocotb-1.4.0.dev0-py3.8-linux-x86_64.egg/cocotb/share/makefiles/simulators/Makefile.ghdl`

You can check if this is right with: `cocotb-config --prefix`

Remove line 68 `cd $(SIM_BUILD) &&`: https://github.com/cocotb/cocotb/blob/master/cocotb/share/makefiles

[2020-04-23 15:56] m-kru commented on #1699
It works with changes you have proposed.

[2020-04-23 16:01] ktbarrett commented on #168
There was a rule added to Makefile.pylib, that has since been removed (#1632). I think this issue is too vague about what such a target would do, so I will close it in preference of a new issue that is more specific.

[2020-04-23 16:01] #168 closed

[2020-04-23 16:04] eric-wieser commented on #168
Note that many makefiles already have a debug target:

https://github.com/cocotb/cocotb/blob/dfaac9732e3b6b07e37c928c25bc93b7cc9e6d77/cocotb/share/makefiles/simulators/Makefile.icarus#L65-L81

Agreed we can track unifying that in a new issue.

[2020-04-23 16:37] themperek commented on #1699
So it looks something has changed in laters GHDL there are potentially other solutions to this.

[2020-04-23 17:07] m-kru commented on #1699
Maybe @tgingold could help resolve what is going on?

[2020-04-23 17:24] #248 closed

[2020-04-23 17:26] tgingold commented on #1699
From memory, I don't see which ghdl commit could have broken cocotb.  Do you volunteer for a bisect ?

[2020-04-23 17:41] themperek commented on #1699
I have just checked the latest ghdl master and it works. What os?

[2020-04-23 17:43] m-kru commented on #1699
Linux arch 5.6.4-arch1-1 #1 SMP PREEMPT Mon, 13 Apr 2020 12:21:19 +0000 x86_64 GNU/Linux

[2020-04-23 17:46] m-kru commented on #1699
@themperek what back end do you use for GHDL?

[2020-04-23 17:51] themperek commented on #1699
No idea. Default?

[2020-04-23 18:04] m-kru commented on #1699
cocotb works with GHDL compiled with the default mcode back end. However it does not work with GHDL compiled with LLVM backend. On GHDL website I have found this:
![ghdl](https://user-images.githubusercontent.com/26227737/80133333-59224800-859d-11ea-8c6d-58e6be15a4f1.png)
It states that the call with -r argument can be replaced with direct execution of the binary. It does not state that it MUST be

[2020-04-23 18:18] ktbarrett commented on #376
@themperek I rebased the test Lance wrote (leftink/cocotb@8df653c) on master and ran with 10.5a, 10.7c, and 2020.1, and the problem wasn't solved. 10.5a crashes instead of hangs, 10.7c stacktraces, as does 2020.1.

[2020-04-23 18:56] themperek commented on #1699
It looks like something with makefile (`cd SIM_BUILD`) or how  `--workdir=` in ghdl works. Unfortunately, I am not an expert on any.

[2020-04-23 18:58] themperek commented on #1699
@m-kru

Can you try this ?
[code]

[2020-04-23 19:09] m-kru commented on #1699
@themperek This solution works with both back ends, mcode and LLVM.

[2020-04-23 19:24] themperek commented on #1699
@m-kru Can you make a PR with this? If not I will do at some point.

[2020-04-23 19:25] #1443 closed

[2020-04-23 19:27] m-kru commented on #1699
I will, but lets wait. I am curious what was the problem from GHDL point of view. I would like to see what @tgingold writes first.

[2020-04-23 19:36] ktbarrett commented on #1331
I want some more discussion on this. How do we track and make known to users current issues with simulators? I think at a minimum we should introduce simulator specific tags to mark issues with.
@themperek @cmarqu @eric-wieser @imphil

[2020-04-23 19:37] tgingold commented on #1699
For `ghdl -r`: it simply executes the binary so the doc is correct: `ghdl -r` can be replaced with the direct execution.

In general, the options of ghdl must be the same for -i/-m/-r, in particular `--std`, `--work` and `--workdir`.

[2020-04-23 20:02] ktbarrett commented on #320
@tsengr0916 That seems quite interesting. Given your posts are now a year old perhaps you would like to post a final reflection in a new issue or on the gitter?

[2020-04-23 20:04] ktbarrett commented on #320
This seems like this issue is not valid anymore. If anyone is still interested in making a GP C++ model interface for cocotb, please make a new issue.

[2020-04-23 20:05] #320 closed

[2020-04-23 20:16] ktbarrett commented on #413
Currently tox supports passing `TOPLEVEL_LANG` to tests, and there is a test using VHDL as the top level lang with GHDL (it doesn't work, but that's another issue).

[2020-04-23 20:16] #413 closed

[2020-04-23 20:17] cmarqu commented on #320
@tsengr0916 Also, please take our 2020 cocotb survey (https://docs.google.com/forms/d/e/1FAIpQLSfD36PldzszbuZjysss3AMvxkf6XCtSbDTVh9qVNNYDaHTZ_w/viewform) unless you have already done so!

[2020-04-23 20:25] cmarqu commented on #1331
Simulator-specific labels could be a sensitive topic, given that apparently many license agreements forbid public comparisons with competitors etc. (I hear, I've never really read the legalese).

When, in "Simulator Support", we state that something is not supported, then we don't say why, so it could be our problem, not a simulator vendor's, so we are fine *there* IMHO.

[2020-04-23 20:33] ktbarrett commented on #1331
Perhaps we need some legal support with that? But I'm not sure we are beholden to the license agreement because we aren't directly using their product.

[2020-04-23 20:36] #1693 closed

[2020-04-23 20:54] ktbarrett commented on #1541
After diagnosing the root cause of #1688 and #1347, I am even more on board with the idea of `fork` not causing an immediate reschedule. Scheduler re-entry seems like a bad idea on it's surface, and obviously leads to strange bugs. So if/when we make a rewrite, we should design the scheduler around avoiding that.

[2020-04-23 21:32] garmin-mjames commented on #1541
It also puts the originating Task in a weird state, where it's not pending a trigger but it's also not the running task.
Maybe we should add a new trigger, like `Join` but only one task can wait on it and it's run when the forked task completes or awaits a trigger. That might require changing the semantics though, i.e.:
[code]

[2020-04-23 21:54] ktbarrett commented on #1541
@garmin-mjames What's the purpose of that trigger?

[2020-04-23 22:01] cmarqu commented on #1701
This is not directly possible unfortunately.
An untested workaround would be to call the procedure from a process that is sensitive to a signal that you toggle from cocotb. You can also provide signals for the inputs/outputs of the procedure and write/read them from cocotb.

If you try this, it would be very nice if you could report back your experiences. Good luck!

[2020-04-23 23:42] garmin-mjames commented on #1541
The task that calls `fork` is the currently scheduled task, so as you said we re-enter the scheduler and call `schedule` on the new task. The original task is now in a "paused" state while the other task runs, but it's not pending a trigger like all other tasks that aren't currently running, it's just on the stack waiting for `fork` to return.

I guess it's sort of a half-way between the two optio

[2020-04-24 00:30] chiraag commented on #1671
@elgorwi I have not tried the dot syntax yet but I will give a shot today. If that does not work I will post a small reproducible test-case

[2020-04-24 01:11] garmin-mjames commented on #1233
From investigating this, `time` type support for Verilog and VHDL should be fairly straightforward.
Support for physical types generally in VHDL would be more complicated.

[2020-04-24 02:45] ktbarrett commented on #1541
@garmin-mjames I think we should just add the forked coroutine to the list of pending tasks, so when the current task yields control back to the scheduler, the forked coroutine starts up. If you want it to start up immediately, you can simply immediately yield control with a `NullTrigger`.

[2020-04-24 03:25] garmin-mjames commented on #1541
@ktbarrett I agree.
But, `NullTrigger` won't work, as you noted up-thread:

[2020-04-24 08:51] m-kru opened #1703 "Are dff, mean, endian_swapper examples somehow outdated?"
All three examples use `@cocotb.coroutine` decorators. If I understand [Coroutines](https://docs.cocotb.org/en/latest/coroutines.html#coroutines) correctly, `async/await` should be used right now. Am I right?

[2020-04-24 09:09] eric-wieser commented on #1703
Both will still be supported in the upcoming release.

One of the last items left in #1289 is to update these examples to use the new format. If you're looking to contribute, a patch to update even one example would be very welcome!

[2020-04-24 09:34] m-kru commented on #1703
I am trying to update `dff` example, but I'm stuck trying to figure out how replacing `@cocotb.coroutine` with `async` affect on `TestFactory` usage.

[2020-04-24 09:47] eric-wieser commented on #1703
You should be able to replace
[code]
with
[code]

[2020-04-24 09:50] m-kru commented on #1703
That's what I did. But it results with errors:
[code]

[2020-04-24 10:02] eric-wieser commented on #1703
Good catch, that's a bug. The check should be relaxed to allow async functions too.
cc @ktbarrett, who might have already filed something about this.

In the meantime, you can use
[code]

[2020-04-24 10:47] eric-wieser commented on #1688
So to be clear, the failure mode is:
[code]

[2020-04-24 12:01] ktbarrett commented on #1688
@eric-wieser that is correct. Notice the coroutine from the first test kills the second test.

[2020-04-24 12:12] ktbarrett commented on #1703
@m-kru Thanks for taking time to update some of the examples!

The issue with `TestFactory` is here
https://github.com/cocotb/cocotb/blob/737edca64625803b19e24dd2c9ecddca99c90d28/cocotb/regression.py#L592-L593

An easy solution is to change this to
[code]

[2020-04-24 12:35] eric-wieser commented on #1348
@ktbarrett, can you verify this was closed by #1684?

[2020-04-24 12:36] eric-wieser commented on #1688
It seems weird than that, the same outcome is being used to end both tests.

[2020-04-24 12:42] m-kru commented on #1703
@ktbarrett do you want me to update this or you will do it yourself?

[2020-04-24 13:32] ktbarrett commented on #1703
You can put that change in as a separate commit in your example update PR, it is not a pressing issue for anyone else right now.

[2020-04-24 13:42] ktbarrett commented on #1348
@eric-wieser It works now.

[2020-04-24 13:42] #1348 closed

[2020-04-24 15:01] ktbarrett commented on #1688
@eric-wieser Did you check the log from the OP? You can see a couroutine from the first test is still being scheduled during the second test (line 59). After the `Timer` returns it reschedules that coroutine where it awaits on the outcome from `raise_soon`, which is stored.

[2020-04-24 15:02] eric-wieser commented on #1688
Thanks, now I understand

[2020-04-24 15:51] ktbarrett commented on #1541
@garmin-mjames I think we should change that behavior. If we are going to break the scheduler interface, we should just break it and do what we need to to make it better. We need to queue up issues and detail what the end product of a scheduler rewrite should look like.

This is the test I used to check the behavior of `NullTrigger()`:

[code]

The output shows `NullTrigger` not rescheduling.

[co

[2020-04-24 16:35] eric-wieser commented on #1541
Nice test-case @ktbarrett, thanks

[2020-04-24 17:23] #1699 closed

[2020-04-24 18:37] m-kru commented on #1703
Something weird happens. If you run below python script:
[code]
The result is True. However if you apply this patch:
[code]
you will notice 5 seconds delay. As if the `run_test` function was not recognized as coroutine.

[2020-04-24 18:47] m-kru commented on #1703
Something weird happens. If you run following script:
[code]
The result will be True. However when you apply following parch:
[code]
you will notice 5 seconds delay. As if `run_test` was not recognized as coroutine.

[2020-04-24 18:50] eric-wieser commented on #1703
Can you do something more decisive like `print` or `assert` to test that?

[2020-04-24 19:12] Divyanirankari opened #1704 "caonstrained random and coverage"
[code]

[2020-04-24 19:16] themperek commented on #1704
@Divyanirankari  You have to ask here: https://github.com/mciepluc/cocotb-coverage

[2020-04-24 19:16] #1704 closed

[2020-04-24 19:19] Divyanirankari commented on #1704
thanks @themperek

[2020-04-24 23:13] garmin-mjames commented on #1541
I'm working on an overhaul of the scheduler debug logging, and as part of that I found something interesting that's related.
Currently, `react` is not used to start a test, so we aren't in the normal event loop. We enter the event loop when certain Python triggers fire, or after we yield a `GPITrigger` and return.

If I add a `await Timer(1)` before the `await Combine(...)`, it works:

[code]
Resu

[2020-04-25 04:58] m-kru commented on #1703
![cr](https://user-images.githubusercontent.com/26227737/80271583-b7e0e200-86c1-11ea-9efb-5f9ccd1d9546.png)
[code]
![dff](https://user-images.githubusercontent.com/26227737/80271599-efe82500-86c1-11ea-8457-d3d05ef966d6.png)

[2020-04-25 09:04] eric-wieser commented on #1703
Can you use `assert inspect.iscoroutinefunction(run_test), "got {!r} (type {!r})".format(run_test, type(run_test)"`?

[2020-04-25 09:54] m-kru commented on #1703
[code]

[2020-04-25 10:29] eric-wieser commented on #1703
Can you print `sys.version_info` from within cocotb too?

[2020-04-25 13:21] m-kru commented on #1703
[code]

[2020-04-25 15:06] cmarqu opened #1707 "Simulator makefiles do not support VHDL-on-top"
Our simulator makefiles get the list of Verilog and VHDL sources in separate variables, and in ``Makefile.questa``, ``Makefile.aldec``, ``Makefile.activehdl``, there are separate compiler calls to compile Verilog and VHDL.
Right now in those makefiles, VHDL is compiled first, followed by Verilog. This means that a VHDL entity is in the library when the Verilog is compiled, but not the other way ro

[2020-04-25 15:13] themperek commented on #1707
Depending on how you look at this/. It is a test definition issue, not a simulator. One has to specify just one top,

[2020-04-25 15:32] cmarqu commented on #1707
I don't see how. I do only have one top per setting of ``TOPLEVEL_LANG``.
I'd be happy to be wrong of course :)

[2020-04-25 18:24] markusdd opened #1709 "Verilator: Offer option to use FST Tracer"
Hi,

very short proposal: Verilator includes FST-Wavedump support for some time now, enabling it would only require an option variabe and instantiating a `VerilatedFstC` instead of the vcd tracer.

FSTs are much more space efficient compared to vcd's .

[2020-04-25 19:45] cmarqu commented on #1709
The main location that needs a change is probably this:
https://github.com/cocotb/cocotb/blob/66d1cad02c003d3e010993d186439394114041cb/cocotb/share/lib/verilator/verilator.cpp#L37-L43

[2020-04-25 19:55] markusdd commented on #1709
Yes. For FST, it should something like this (without the switch yet):

[code]

[2020-04-25 23:06] markusdd opened #1710 "README makefile missing export setting of coco share dir"
Hi,

I was trying out the minimal example in the README to get cocotb also going on mac, but there are 2 obstacles:

a) you basically must use virtualenv, otherwise, even with homebrew version of python3, it will pull in python2 crap during compile
b) in the Makefile I need to do this:

`export COCOTB_SHARE_DIR=$(shell cocotb-config --share)`

otherwise I end up with this error:

[code]

especiall

[2020-04-26 07:42] themperek commented on #1710
You use diffrent version of cocotb than examples. If you install one version of cocotb you have to use examples and documentation from same version.

[2020-04-26 08:59] markusdd commented on #1710
I'm using 1.3.1, so latest greatest stable.
I was not able to find the place where it is mentioned that this needs to be set.
Just noticed when selecting 1.3.1 that this README example was not yet there, yet I hope you will agree it should be simple enough to get going anyway.

So what is the recommended env setup before using cocotb?
The Makefile in the quickstart guide of 1.3.1 does not specify

[2020-04-26 09:03] markusdd commented on #1710
ok, found the problem.
1.3.1 wants the Makefile.inc included explicitly, on master in the README that is not the case anymore.

That can be closed then.

[2020-04-26 09:03] #1710 closed

[2020-04-26 10:10] csantosb commented on #1527
I gave a permanent home to my custom Makefile.ghdl file.

    https://gitlab.com/ip-vhdl/eda-common/-/blob/master/cocotb/Makefile.ghdl

Hope it helps.

[2020-04-26 10:47] themperek commented on #1707
I may be wrong but something like this:
[code]

[2020-04-26 16:15] themperek commented on #1566
Actually any kind of solution like proposed in  https://github.com/cocotb/cocotb/issues/1566#issuecomment-617644287 have looks not working straightforward. One needs to know if is in the simulation during cocotb module loading (before we can set anything) due to :
https://github.com/cocotb/cocotb/blob/a3fb4b559da411ecc863e26a84c2948bc71de67b/cocotb/__init__.py#L58
and than:
https://github.com/coco

[2020-04-26 16:26] ktbarrett commented on #1566
@themperek All of that code should be moved into `_initialize_testbench`. See #1332 for example of what that might look like. No code should be run during package loading IMO.

[2020-04-26 16:53] themperek commented on #1566
So the some idea, for the momemt. Add this:
[code]
someware here:
https://github.com/cocotb/cocotb/blob/a3fb4b559da411ecc863e26a84c2948bc71de67b/cocotb/share/lib/gpi/GpiCommon.cpp#L208-L210

Can you remove from makefiles and do something better letter?

[2020-04-26 17:06] cmarqu commented on #1527
I guess we all feel a bit reluctant with this PR because our CI for ghdl is not good - we allow it to fail and still let Travis report an overall PASS currently.
Since ghdl is at 0.37 since a few months, it's worth taking another look at its CI.